.about-us-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.about-us-navbar-interactive {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  justify-content: space-between;
  background-color: #002855;
}
.about-us-image {
  width: 95px;
  height: 95px;
  object-fit: cover;
}
.about-us-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.about-us-links {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.about-us-navlink {
  color: #fffefe;
  text-decoration: none;
}
.about-us-navlink1 {
  color: #fffefe;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.about-us-navlink2 {
  color: #fffefe;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.about-us-navlink3 {
  color: #fffefe;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.about-us-icon-group {
  width: var(--dl-size-size-xlarge);
  margin-left: 0px;
}
.about-us-icon {
  fill: #ffffff;
  width: 30px;
  height: 30px;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.about-us-icon02 {
  fill: #ffffff;
  width: 30px;
  height: 30px;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.about-us-icon04 {
  fill: #ffffff;
  width: 30px;
  height: 30px;
  text-decoration: none;
}
.about-us-burger-menu {
  display: none;
}
.about-us-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.about-us-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: absolute;
  transform: translateY(-100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.about-us-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.about-us-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.about-us-image1 {
  width: 60px;
  height: 60px;
  object-fit: cover;
}
.about-us-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-us-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.about-us-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.about-us-navlink4 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.about-us-navlink5 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.about-us-navlink6 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.about-us-navlink7 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.about-us-icon10 {
  width: 24px;
  height: 24px;
  text-decoration: none;
}
.about-us-icon12 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.about-us-icon14 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  text-decoration: none;
}
.about-us-banner {
  width: 100%;
  height: 491px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  background-size: cover;
  justify-content: center;
  background-image: url("/external/marvin-meyer-syto3xs06fu-unsplash-1500w.jpg");
  background-position: center;
}
.about-us-text {
  color: rgb(255, 255, 255);
  width: 1281px;
  font-size: 5rem;
  text-align: center;
  font-family: "Prestage Outline";
  font-weight: 900;
  margin-bottom: var(--dl-space-space-unit);
  text-transform: uppercase;
}
.about-us-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: #000000;
  border-style: solid;
  border-width: 3px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.about-us-container01 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
}
.about-us-container02 {
  flex: 0 0 auto;
  width: var(--dl-size-size-maxwidth);
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.about-us-link6 {
  display: contents;
}
.about-us-icon16 {
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-medium);
  text-decoration: none;
}
.about-us-container03 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
}
.about-us-container04 {
  flex: 0 0 auto;
  width: 900px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.about-us-text05 {
  font-size: 28px;
  text-align: center;
}
.about-us-container05 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
}
.about-us-container06 {
  flex: 0 0 auto;
  width: var(--dl-size-size-maxwidth);
  height: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
}
.about-us-link7 {
  display: contents;
}
.about-us-icon18 {
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-medium);
  text-decoration: none;
}
.about-us-container07 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
}
.about-us-container08 {
  flex: 0 0 auto;
  width: 900px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.about-us-text08 {
  font-size: 28px;
  text-align: center;
}
.about-us-container09 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
}
.about-us-container10 {
  flex: 0 0 auto;
  width: var(--dl-size-size-maxwidth);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.about-us-link8 {
  display: contents;
}
.about-us-icon20 {
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-medium);
  text-decoration: none;
}
.about-us-container11 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
}
.about-us-container12 {
  flex: 0 0 auto;
  width: 900px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.about-us-text09 {
  font-size: 28px;
  text-align: center;
}
.about-us-separator1 {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-threeunits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: #000000;
  border-style: solid;
  border-width: 3px;
  margin-right: 0px;
  margin-bottom: 0px;
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.about-us-banner1 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  align-items: center;
  flex-direction: column;
  background-size: auto;
  justify-content: space-between;
  background-image: url("/external/untitled-3-1500w.png");
  background-position: top right;
}
.about-us-container13 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-us-container14 {
  flex: 0 0 auto;
  width: 80%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.about-us-text10 {
  width: auto;
  font-size: 46px;
  max-width: var(--dl-size-size-maxwidth);
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  margin-bottom: 0px;
}
.about-us-text11 {
  font-style: normal;
  font-weight: 700;
}
.about-us-text12 {
  font-style: normal;
  font-weight: 700;
}
.about-us-text14 {
  text-decoration: underline;
}
.about-us-text15 {
  text-decoration: underline;
}
.about-us-separator2 {
  flex: 0 0 auto;
  width: 50%;
  height: 0px;
  margin: 0px;
  display: flex;
  align-items: flex-start;
  border-color: #000000;
  border-style: solid;
  border-width: 3px;
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.about-us-text16 {
  width: 80%;
  font-size: 26px;
  max-width: var(--dl-size-size-maxwidth);
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  margin-bottom: var(--dl-space-space-twounits);
}
.about-us-separator3 {
  flex: 0 0 auto;
  width: 70%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: #b7b7b7;
  border-style: solid;
  border-width: 3px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.about-us-banner2 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  align-items: center;
  flex-direction: column;
  background-size: auto;
  justify-content: space-between;
  background-image: url("/external/untitled-3-1500w.png");
  background-position: top right;
}
.about-us-container15 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-us-container16 {
  flex: 0 0 auto;
  width: 80%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.about-us-text21 {
  width: auto;
  font-size: 46px;
  max-width: var(--dl-size-size-maxwidth);
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  margin-bottom: 0px;
}
.about-us-text22 {
  font-style: normal;
  font-weight: 700;
}
.about-us-text24 {
  text-decoration: underline;
}
.about-us-text25 {
  text-decoration: underline;
}
.about-us-separator4 {
  flex: 0 0 auto;
  width: 50%;
  height: 0px;
  margin: 0px;
  display: flex;
  align-items: flex-start;
  border-color: #000000;
  border-style: solid;
  border-width: 3px;
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.about-us-text26 {
  width: 80%;
  font-size: 24px;
  max-width: var(--dl-size-size-maxwidth);
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  margin-bottom: var(--dl-space-space-twounits);
}
.about-us-separator5 {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: #000000;
  border-style: solid;
  border-width: 3px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.about-us-footer {
  width: 100%;
  display: flex;
  max-width: 100%;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #979DAC;
}
.about-us-container17 {
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.about-us-image2 {
  width: 350px;
  height: var(--dl-size-size-xlarge);
  margin-bottom: var(--dl-space-space-twounits);
}
.about-us-separator6 {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-900);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.about-us-container18 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
@media(max-width: 1200px) {
  .about-us-navbar-interactive {
    padding: var(--dl-space-space-unit);
    background-color: #002855;
  }
  .about-us-image {
    width: 95px;
    height: 95px;
  }
  .about-us-navlink {
    color: #ffffff;
  }
  .about-us-navlink1 {
    color: #ffffff;
  }
  .about-us-navlink2 {
    color: #ffffff;
  }
  .about-us-navlink3 {
    color: #ffffff;
  }
  .about-us-icon-group {
    width: var(--dl-size-size-xlarge);
  }
  .about-us-icon {
    fill: #ffffff;
    width: 30px;
    height: 30px;
  }
  .about-us-icon02 {
    fill: #ffffff;
    width: 30px;
    height: 30px;
  }
  .about-us-icon04 {
    fill: #ffffff;
    width: 30px;
    height: 30px;
  }
  .about-us-banner {
    background-size: cover;
    background-image: url("/external/marvin-meyer-syto3xs06fu-unsplash-1500w.jpg");
  }
  .about-us-text {
    width: 1200px;
  }
  .about-us-container02 {
    width: auto;
  }
  .about-us-container04 {
    width: 800px;
  }
  .about-us-text05 {
    font-size: 24px;
    text-align: center;
  }
  .about-us-container06 {
    width: auto;
  }
  .about-us-container08 {
    width: 800px;
  }
  .about-us-text08 {
    font-size: 24px;
    text-align: center;
  }
  .about-us-container10 {
    width: auto;
  }
  .about-us-container12 {
    width: 800px;
  }
  .about-us-text09 {
    font-size: 24px;
    text-align: center;
  }
  .about-us-separator1 {
    margin-top: var(--dl-space-space-threeunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .about-us-text10 {
    font-size: 46px;
    text-align: left;
  }
  .about-us-text16 {
    width: 100%;
    font-size: 24px;
    text-align: center;
  }
  .about-us-text21 {
    font-size: 46px;
    text-align: left;
  }
  .about-us-text26 {
    font-size: 24px;
    text-align: center;
  }
  .about-us-footer {
    background-color: #979DAC;
  }
}
@media(max-width: 991px) {
  .about-us-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .about-us-image {
    width: 85px;
    height: 85px;
  }
  .about-us-navlink {
    color: #ffffff;
    font-family: Inter;
  }
  .about-us-navlink1 {
    color: #ffffff;
  }
  .about-us-navlink2 {
    color: #ffffff;
  }
  .about-us-navlink3 {
    color: #ffffff;
  }
  .about-us-icon-group {
    width: var(--dl-size-size-large);
  }
  .about-us-icon {
    fill: #ffffff;
    width: 25px;
    height: 25px;
  }
  .about-us-icon02 {
    fill: #ffffff;
    width: 25px;
    height: 25px;
  }
  .about-us-icon04 {
    fill: #ffffff;
    width: 25px;
    height: 25px;
  }
  .about-us-banner {
    background-size: cover;
    background-image: url("/external/marvin-meyer-syto3xs06fu-unsplash-1500w.jpg");
  }
  .about-us-text {
    width: 991px;
  }
  .about-us-container02 {
    width: auto;
  }
  .about-us-container04 {
    width: 650px;
  }
  .about-us-text05 {
    font-size: 24px;
    text-align: center;
  }
  .about-us-container06 {
    width: auto;
  }
  .about-us-container08 {
    width: 650px;
  }
  .about-us-text08 {
    font-size: 24px;
    text-align: center;
  }
  .about-us-container10 {
    width: auto;
  }
  .about-us-container12 {
    width: 650px;
  }
  .about-us-text09 {
    font-size: 24px;
    text-align: center;
  }
  .about-us-separator1 {
    margin-top: var(--dl-space-space-threeunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .about-us-text10 {
    font-size: 46px;
    max-width: 100%;
    text-align: left;
  }
  .about-us-text16 {
    font-size: 24px;
    max-width: 100%;
    text-align: center;
  }
  .about-us-text21 {
    font-size: 46px;
    max-width: 100%;
    text-align: left;
  }
  .about-us-text26 {
    font-size: 24px;
    max-width: 100%;
    text-align: center;
  }
}
@media(max-width: 767px) {
  .about-us-navbar-interactive {
    padding: var(--dl-space-space-oneandhalfunits);
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    background-color: #002855;
  }
  .about-us-image {
    width: 75px;
    height: 75px;
  }
  .about-us-desktop-menu {
    display: none;
  }
  .about-us-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .about-us-icon06 {
    fill: #ffffff;
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
  }
  .about-us-mobile-menu {
    padding-bottom: 72px;
    background-color: #002855;
  }
  .about-us-image1 {
    width: 75px;
    height: 75px;
  }
  .about-us-icon08 {
    fill: #ffffff;
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
  }
  .about-us-navlink4 {
    color: #ffffff;
    font-size: 26px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .about-us-navlink5 {
    color: #ffffff;
    font-size: 26px;
    margin-left: 0;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .about-us-navlink6 {
    color: #ffffff;
    font-size: 26px;
    margin-left: 0;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .about-us-navlink7 {
    color: #ffffff;
    font-size: 26px;
    margin-left: 0;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .about-us-icon-group1 {
    align-self: center;
  }
  .about-us-icon10 {
    fill: #ffffff;
    width: 45px;
    height: 45px;
    margin-right: var(--dl-space-space-twounits);
  }
  .about-us-icon12 {
    fill: #ffffff;
    width: 45px;
    height: 45px;
  }
  .about-us-icon14 {
    fill: #ffffff;
    width: 45px;
    height: 45px;
  }
  .about-us-banner {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    background-size: cover;
    background-image: url("/external/marvin-meyer-syto3xs06fu-unsplash-1500w.jpg");
  }
  .about-us-text {
    width: auto;
  }
  .about-us-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .about-us-container02 {
    width: auto;
  }
  .about-us-container04 {
    width: 400px;
  }
  .about-us-text05 {
    font-size: 24px;
  }
  .about-us-container05 {
    margin-top: var(--dl-space-space-twounits);
  }
  .about-us-container06 {
    width: auto;
  }
  .about-us-container08 {
    width: 400px;
  }
  .about-us-text08 {
    font-size: 24px;
  }
  .about-us-container09 {
    margin-top: var(--dl-space-space-twounits);
  }
  .about-us-container10 {
    width: auto;
  }
  .about-us-container12 {
    width: 400px;
  }
  .about-us-text09 {
    font-size: 24px;
  }
  .about-us-separator1 {
    margin-top: var(--dl-space-space-threeunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .about-us-banner1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .about-us-text10 {
    font-size: 46px;
    text-align: left;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .about-us-text11 {
    font-style: normal;
    font-weight: 700;
  }
  .about-us-text12 {
    font-style: normal;
    font-weight: 700;
  }
  .about-us-text14 {
    text-decoration: underline;
  }
  .about-us-text15 {
    text-decoration: underline;
  }
  .about-us-separator2 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .about-us-text16 {
    font-size: 24px;
    text-align: center;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .about-us-separator3 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .about-us-banner2 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .about-us-text21 {
    font-size: 46px;
    text-align: left;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .about-us-text22 {
    font-style: normal;
    font-weight: 700;
  }
  .about-us-text24 {
    text-decoration: underline;
  }
  .about-us-text25 {
    text-decoration: underline;
  }
  .about-us-separator4 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .about-us-text26 {
    font-size: 24px;
    text-align: center;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .about-us-separator5 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .about-us-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .about-us-image2 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .about-us-separator6 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .about-us-container18 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .about-us-text31 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .about-us-navbar-interactive {
    padding: var(--dl-space-space-unit);
    padding-right: 16px;
    background-color: #002855;
  }
  .about-us-icon-group {
    display: none;
  }
  .about-us-icon06 {
    fill: #ffffff;
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
  }
  .about-us-mobile-menu {
    bottom: var(--dl-space-space-unit);
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 60px;
    background-color: #002855;
  }
  .about-us-icon08 {
    fill: #ffffff;
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
  }
  .about-us-navlink4 {
    color: #ffffff;
    font-size: 26px;
    font-family: Inter;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .about-us-navlink5 {
    color: #ffffff;
    font-size: 26px;
    font-family: Inter;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .about-us-navlink6 {
    color: rgb(255, 255, 255);
    font-size: 26px;
    font-family: Inter;
    margin-bottom: var(--dl-space-space-twounits);
    text-decoration: none;
  }
  .about-us-navlink7 {
    color: rgb(255, 255, 255);
    font-size: 26px;
    font-family: Inter;
    margin-bottom: 0px;
    text-decoration: none;
  }
  .about-us-icon-group1 {
    align-self: center;
  }
  .about-us-icon10 {
    fill: #ffffff;
    width: 45px;
    height: 45px;
    margin-right: var(--dl-space-space-twounits);
  }
  .about-us-icon12 {
    fill: #ffffff;
    width: 45px;
    height: 45px;
    margin-right: var(--dl-space-space-twounits);
    padding-right: 0px;
  }
  .about-us-icon14 {
    fill: #ffffff;
    width: 45px;
    height: 45px;
  }
  .about-us-banner {
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-threeunits);
    background-size: cover;
    background-image: url("/external/marvin-meyer-syto3xs06fu-unsplash-1500w.jpg");
  }
  .about-us-text {
    width: auto;
    font-size: 4rem;
  }
  .about-us-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .about-us-container01 {
    margin-top: var(--dl-space-space-unit);
    justify-content: center;
  }
  .about-us-container02 {
    width: auto;
    height: auto;
  }
  .about-us-icon16 {
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
    margin-right: 0px;
  }
  .about-us-container04 {
    width: 320px;
  }
  .about-us-text05 {
    font-size: 24px;
    text-align: center;
  }
  .about-us-container05 {
    justify-content: center;
  }
  .about-us-container06 {
    width: auto;
    height: auto;
  }
  .about-us-icon18 {
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
    margin-top: var(--dl-space-space-twounits);
  }
  .about-us-container08 {
    width: 320px;
  }
  .about-us-text08 {
    font-size: 24px;
    text-align: center;
  }
  .about-us-container09 {
    justify-content: center;
  }
  .about-us-container10 {
    width: auto;
  }
  .about-us-icon20 {
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
    margin-top: var(--dl-space-space-twounits);
    margin-right: 0px;
  }
  .about-us-container12 {
    width: 320px;
  }
  .about-us-text09 {
    font-size: 24px;
    text-align: center;
  }
  .about-us-separator1 {
    margin-top: var(--dl-space-space-threeunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .about-us-banner1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .about-us-container14 {
    width: 100%;
    height: auto;
  }
  .about-us-text10 {
    font-size: 46px;
  }
  .about-us-text11 {
    font-style: normal;
    font-weight: 700;
  }
  .about-us-text12 {
    font-style: normal;
    font-weight: 700;
  }
  .about-us-text13 {
    font-style: normal;
    font-weight: 700;
    text-decoration: underline;
  }
  .about-us-text14 {
    text-decoration: underline;
  }
  .about-us-text15 {
    text-decoration: underline;
  }
  .about-us-separator2 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .about-us-text16 {
    font-size: 24px;
    text-align: center;
  }
  .about-us-separator3 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .about-us-banner2 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .about-us-container16 {
    width: 100%;
    height: auto;
  }
  .about-us-text21 {
    font-size: 46px;
  }
  .about-us-text22 {
    font-style: normal;
    font-weight: 700;
  }
  .about-us-text23 {
    font-style: normal;
    font-weight: 700;
    text-decoration: underline;
  }
  .about-us-text24 {
    text-decoration: underline;
  }
  .about-us-text25 {
    text-decoration: underline;
  }
  .about-us-separator4 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .about-us-text26 {
    text-align: center;
  }
  .about-us-text27 {
    font-size: 24px;
  }
  .about-us-separator5 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .about-us-footer {
    padding: var(--dl-space-space-unit);
  }
  .about-us-image2 {
    width: auto;
  }
  .about-us-separator6 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .about-us-container18 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .about-us-text31 {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
