.contact-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.contact-navbar-interactive {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  justify-content: space-between;
  background-color: #002855;
}
.contact-image {
  width: 95px;
  height: 95px;
  object-fit: cover;
}
.contact-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.contact-links {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.contact-navlink {
  color: #ffffff;
  text-decoration: none;
}
.contact-navlink1 {
  color: #ffffff;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.contact-navlink2 {
  color: #ffffff;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.contact-navlink3 {
  color: #ffffff;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.contact-icon-group {
  width: var(--dl-size-size-xlarge);
}
.contact-icon {
  fill: #ffffff;
  width: 30px;
  height: 30px;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.contact-icon02 {
  fill: #ffffff;
  width: 30px;
  height: 30px;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.contact-icon04 {
  fill: #ffffff;
  width: 30px;
  height: 30px;
  text-decoration: none;
}
.contact-burger-menu {
  display: none;
}
.contact-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.contact-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: absolute;
  transform: translateY(-100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.contact-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.contact-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.contact-image1 {
  width: 60px;
  height: 60px;
  object-fit: cover;
}
.contact-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.contact-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.contact-navlink4 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.contact-navlink5 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.contact-navlink6 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.contact-navlink7 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.contact-icon10 {
  width: 24px;
  height: 24px;
  text-decoration: none;
}
.contact-icon12 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.contact-icon14 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  text-decoration: none;
}
.contact-banner {
  width: 100%;
  height: 491px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  background-size: cover;
  justify-content: center;
  background-image: url("/external/cytonn-photography-vwchrczcqwm-unsplash-1500w.jpg");
  background-position: center;
}
.contact-text {
  color: #ffffff;
  width: auto;
  font-size: 5rem;
  text-align: center;
  font-family: "Prestage Outline";
  font-weight: 900;
  margin-bottom: var(--dl-space-space-unit);
  text-transform: uppercase;
}
.contact-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: #000000;
  border-style: solid;
  border-width: 3px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.contact-container01 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #D9D9D9;
}
.contact-container02 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.contact-text01 {
  width: 100%;
  font-size: 44px;
  text-align: center;
  font-family: "Impact";
  background-color: #ffffff;
}
.contact-separator1 {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: #ffffff;
  border-style: solid;
  border-width: 5px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.contact-container03 {
  width: 100%;
}
.contact-container04 {
  display: contents;
}
.contact-separator2 {
  flex: 0 0 auto;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: #000000;
  border-style: solid;
  border-width: 3px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.contact-footer {
  width: 100%;
  display: flex;
  max-width: 100%;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #979DAC;
}
.contact-container05 {
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.contact-image2 {
  width: 350px;
  height: var(--dl-size-size-xlarge);
  margin-bottom: var(--dl-space-space-twounits);
}
.contact-container06 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-container07 {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.contact-link6 {
  display: contents;
}
.contact-icon16 {
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-medium);
  text-decoration: none;
}
.contact-container08 {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.contact-link7 {
  display: contents;
}
.contact-icon18 {
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-medium);
  text-decoration: none;
}
.contact-container09 {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.contact-link8 {
  display: contents;
}
.contact-icon20 {
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-medium);
  text-decoration: none;
}
.contact-separator3 {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-900);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.contact-container10 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
@media(max-width: 1200px) {
  .contact-navbar-interactive {
    padding: var(--dl-space-space-unit);
    background-color: #002855;
  }
  .contact-image {
    width: 95px;
    height: 95px;
  }
  .contact-navlink {
    color: #ffffff;
  }
  .contact-navlink1 {
    color: #ffffff;
  }
  .contact-navlink2 {
    color: #ffffff;
  }
  .contact-navlink3 {
    color: #ffffff;
  }
  .contact-icon-group {
    width: var(--dl-size-size-xlarge);
  }
  .contact-icon {
    fill: #ffffff;
    width: 30px;
    height: 30px;
  }
  .contact-icon02 {
    fill: #ffffff;
    width: 30px;
    height: 30px;
  }
  .contact-icon04 {
    fill: #ffffff;
    width: 30px;
    height: 30px;
  }
  .contact-banner {
    background-size: cover;
    background-image: url("/external/cytonn-photography-vwchrczcqwm-unsplash-1500w.jpg");
  }
  .contact-footer {
    background-color: #979DAC;
  }
}
@media(max-width: 991px) {
  .contact-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .contact-image {
    width: 85px;
    height: 85px;
  }
  .contact-navlink {
    color: #ffffff;
    font-family: Inter;
  }
  .contact-navlink1 {
    color: #ffffff;
  }
  .contact-navlink2 {
    color: #ffffff;
  }
  .contact-navlink3 {
    color: #ffffff;
  }
  .contact-icon-group {
    width: var(--dl-size-size-large);
  }
  .contact-icon {
    fill: #ffffff;
    width: 25px;
    height: 25px;
  }
  .contact-icon02 {
    fill: #ffffff;
    width: 25px;
    height: 25px;
  }
  .contact-icon04 {
    fill: #ffffff;
    width: 25px;
    height: 25px;
  }
  .contact-banner {
    background-size: cover;
    background-image: url("/external/cytonn-photography-vwchrczcqwm-unsplash-1500w.jpg");
  }
  .contact-footer {
    background-color: #979DAC;
  }
}
@media(max-width: 767px) {
  .contact-navbar-interactive {
    padding: var(--dl-space-space-oneandhalfunits);
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    background-color: #002855;
  }
  .contact-image {
    width: 75px;
    height: 75px;
  }
  .contact-desktop-menu {
    display: none;
  }
  .contact-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .contact-icon06 {
    fill: #ffffff;
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
  }
  .contact-mobile-menu {
    padding-top: 32px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 72px;
    background-color: #002855;
  }
  .contact-image1 {
    width: 75px;
    height: 75px;
  }
  .contact-icon08 {
    fill: #ffffff;
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
  }
  .contact-navlink4 {
    color: #ffffff;
    font-size: 26px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .contact-navlink5 {
    color: #ffffff;
    font-size: 26px;
    margin-left: 0;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .contact-navlink6 {
    color: #ffffff;
    font-size: 26px;
    margin-left: 0;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .contact-navlink7 {
    color: #ffffff;
    font-size: 26px;
    margin-left: 0;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .contact-icon-group1 {
    align-self: center;
  }
  .contact-icon10 {
    fill: #ffffff;
    width: 45px;
    height: 45px;
    margin-right: var(--dl-space-space-twounits);
  }
  .contact-icon12 {
    fill: #ffffff;
    width: 45px;
    height: 45px;
  }
  .contact-icon14 {
    fill: #ffffff;
    width: 45px;
    height: 45px;
  }
  .contact-banner {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    background-size: cover;
    background-image: url("/external/cytonn-photography-vwchrczcqwm-unsplash-1500w.jpg");
  }
  .contact-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .contact-text01 {
    color: #000000;
  }
  .contact-separator1 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .contact-separator2 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .contact-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    background-color: #979DAC;
  }
  .contact-image2 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .contact-separator3 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .contact-container10 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .contact-text10 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .contact-container {
    background-color: #ffffff;
  }
  .contact-navbar-interactive {
    padding: var(--dl-space-space-unit);
    padding-right: 16px;
    background-color: #002855;
  }
  .contact-icon-group {
    display: none;
  }
  .contact-icon06 {
    fill: #ffffff;
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
  }
  .contact-mobile-menu {
    bottom: var(--dl-space-space-unit);
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 60px;
    background-color: #002855;
  }
  .contact-icon08 {
    fill: #ffffff;
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
  }
  .contact-navlink4 {
    color: #ffffff;
    font-size: 26px;
    font-family: Inter;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .contact-navlink5 {
    color: #ffffff;
    font-size: 26px;
    font-family: Inter;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .contact-navlink6 {
    color: rgb(255, 255, 255);
    font-size: 26px;
    font-family: Inter;
    margin-bottom: var(--dl-space-space-twounits);
    text-decoration: none;
  }
  .contact-navlink7 {
    color: rgb(255, 255, 255);
    font-size: 26px;
    font-family: Inter;
    margin-bottom: 0px;
    text-decoration: none;
  }
  .contact-icon-group1 {
    align-self: center;
  }
  .contact-icon10 {
    fill: #ffffff;
    width: 45px;
    height: 45px;
    margin-right: var(--dl-space-space-twounits);
  }
  .contact-icon12 {
    fill: #ffffff;
    width: 45px;
    height: 45px;
    margin-right: var(--dl-space-space-twounits);
    padding-right: 0px;
  }
  .contact-icon14 {
    fill: #ffffff;
    width: 45px;
    height: 45px;
  }
  .contact-banner {
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-threeunits);
    background-size: cover;
    background-image: url("/external/cytonn-photography-vwchrczcqwm-unsplash-1500w.jpg");
  }
  .contact-text {
    color: rgb(255, 255, 255);
    font-size: 5rem;
    font-family: Prestage Outline;
    font-weight: 900;
    text-transform: uppercase;
  }
  .contact-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    border-width: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .contact-text01 {
    width: auto;
    font-size: 24px;
    font-family: Impact;
    background-color: #ffffff;
  }
  .contact-text02 {
    color: #000000;
  }
  .contact-text03 {
    color: #000000;
  }
  .contact-text04 {
    color: #000000;
  }
  .contact-text05 {
    color: #000000;
  }
  .contact-text06 {
    color: #000000;
  }
  .contact-text07 {
    color: #000000;
  }
  .contact-text08 {
    color: #000000;
  }
  .contact-separator1 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    border-width: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .contact-separator2 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    border-width: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .contact-footer {
    padding: var(--dl-space-space-unit);
  }
  .contact-container07 {
    width: auto;
  }
  .contact-icon16 {
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
    margin-right: var(--dl-space-space-twounits);
  }
  .contact-container08 {
    width: auto;
  }
  .contact-icon18 {
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
    margin-right: var(--dl-space-space-twounits);
  }
  .contact-container09 {
    width: auto;
  }
  .contact-icon20 {
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
  }
  .contact-separator3 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .contact-container10 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .contact-text10 {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
