.shop-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.shop-navbar-interactive {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  justify-content: space-between;
  background-color: #002855;
}
.shop-image {
  width: 95px;
  height: 95px;
  object-fit: cover;
}
.shop-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.shop-links {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.shop-navlink {
  color: #ffffff;
  text-decoration: none;
}
.shop-navlink1 {
  color: #ffffff;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.shop-navlink2 {
  color: #ffffff;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.shop-navlink3 {
  color: #ffffff;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.shop-icon-group {
  width: var(--dl-size-size-xlarge);
}
.shop-icon {
  fill: #ffffff;
  width: 30px;
  height: 30px;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.shop-icon02 {
  fill: #ffffff;
  width: 30px;
  height: 30px;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.shop-icon04 {
  fill: #ffffff;
  width: 30px;
  height: 30px;
  text-decoration: none;
}
.shop-burger-menu {
  display: none;
}
.shop-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.shop-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: absolute;
  transform: translateY(-100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.shop-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.shop-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.shop-image1 {
  width: 60px;
  height: 60px;
  object-fit: cover;
}
.shop-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.shop-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.shop-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.shop-navlink4 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.shop-navlink5 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.shop-navlink6 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.shop-navlink7 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.shop-icon10 {
  width: 24px;
  height: 24px;
  text-decoration: none;
}
.shop-icon12 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.shop-icon14 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  text-decoration: none;
}
.shop-banner {
  width: 100%;
  height: 491px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  background-size: cover;
  justify-content: space-between;
  background-image: url("/external/lianhao-qu-lfan1gswv5c-unsplash-1500w.jpg");
  background-position: center;
}
.shop-text {
  color: #ffffff;
  width: auto;
  font-size: 5rem;
  margin-top: 105px;
  text-align: center;
  font-family: "Prestage Outline";
  font-weight: 900;
  margin-bottom: var(--dl-space-space-unit);
  text-transform: uppercase;
}
.shop-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: #000000;
  border-style: solid;
  border-width: 3px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.shop-container01 {
  flex: 0 0 auto;
  width: 80%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.shop-text04 {
  font-size: 32px;
  align-self: center;
  text-align: center;
  font-family: "Inter";
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.shop-separator1 {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: #000000;
  border-style: solid;
  border-width: 3px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.shop-container02 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.shop-text05 {
  font-size: 48px;
  align-self: center;
  text-align: left;
  font-family: "Inter";
}
.shop-container03 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.shop-container04 {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
}
.shop-image2 {
  width: 200px;
  object-fit: cover;
}
.shop-text06 {
  font-size: 24px;
  align-self: center;
  text-align: center;
  text-transform: uppercase;
}
.shop-text11 {
  color: #ff0000;
}
.shop-container05 {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
}
.shop-image3 {
  width: 200px;
  object-fit: cover;
}
.shop-text13 {
  font-size: 24px;
  align-self: center;
  text-align: center;
  text-transform: uppercase;
}
.shop-text14 {
  text-transform: uppercase;
}
.shop-text15 {
  text-transform: uppercase;
}
.shop-text16 {
  text-transform: uppercase;
}
.shop-text18 {
  color: #ff0000;
}
.shop-container06 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: outset;
  justify-content: center;
}
.shop-separator2 {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-900);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.shop-container07 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.shop-text20 {
  font-size: 48px;
  align-self: center;
  text-align: left;
  font-family: "Inter";
}
.shop-container08 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.shop-container09 {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
}
.shop-image4 {
  width: 200px;
  object-fit: cover;
}
.shop-text21 {
  font-size: 24px;
  align-self: center;
  text-align: center;
  text-transform: uppercase;
}
.shop-text26 {
  color: #ff0000;
}
.shop-container10 {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
}
.shop-container11 {
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  background-size: cover;
  justify-content: center;
  background-image: url("/external/barracuda-2tb-dm008-hero-left-270x270-200h.png");
  background-position: center;
}
.shop-text28 {
  color: rgb(255, 255, 255);
  width: auto;
  font-size: 28px;
  font-style: normal;
  font-weight: 900;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  background-color: rgb(0, 0, 0);
}
.shop-text29 {
  font-size: 24px;
  align-self: center;
  text-align: center;
  text-transform: uppercase;
}
.shop-text30 {
  color: #000000;
}
.shop-text32 {
  color: #000000;
}
.shop-text34 {
  color: #ff0000;
}
.shop-container12 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: outset;
  justify-content: center;
}
.shop-separator3 {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-900);
  border-style: solid;
  border-width: 0px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.shop-container13 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.shop-container14 {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
}
.shop-container15 {
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  background-size: cover;
  justify-content: flex-end;
  background-image: url("/external/seagate-barracuda-2tb-7200rpm-3.5-sata-6gbs-64-mb-cache-st2000dm006-324x324-200h.png");
  background-position: center;
}
.shop-text36 {
  color: #ffffff;
  width: auto;
  font-size: 28px;
  font-style: normal;
  font-weight: 900;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  background-color: rgb(0, 0, 0);
}
.shop-text37 {
  font-size: 24px;
  align-self: center;
  text-align: center;
  text-transform: uppercase;
}
.shop-text44 {
  color: #ff0000;
}
.shop-container16 {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
}
.shop-container17 {
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  background-size: cover;
  justify-content: center;
  background-image: url("/external/western-digital-dva-hdd-05tb-purple-5tb-hdd-oem-wd50purx-57-200h.png");
  background-position: center;
}
.shop-text46 {
  color: rgb(255, 255, 255);
  width: auto;
  font-size: 28px;
  font-style: normal;
  font-weight: 900;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  background-color: rgb(0, 0, 0);
}
.shop-text47 {
  font-size: 24px;
  align-self: center;
  text-align: center;
  text-transform: uppercase;
}
.shop-text52 {
  color: #000000;
}
.shop-text54 {
  color: #ff0000;
}
.shop-separator4 {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-900);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.shop-container18 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.shop-text56 {
  font-size: 48px;
  align-self: center;
  text-align: left;
  font-family: "Inter";
}
.shop-container19 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.shop-container20 {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
}
.shop-image5 {
  width: 200px;
  object-fit: cover;
}
.shop-text57 {
  font-size: 24px;
  align-self: center;
  text-align: center;
  text-transform: uppercase;
}
.shop-text62 {
  color: #ff0000;
}
.shop-container21 {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
}
.shop-image6 {
  width: 200px;
  object-fit: cover;
}
.shop-text64 {
  font-size: 24px;
  align-self: center;
  text-align: center;
  text-transform: uppercase;
}
.shop-text65 {
  color: #000000;
}
.shop-text67 {
  color: var(--dl-color-gray-black);
}
.shop-text69 {
  color: #ff0000;
}
.shop-separator5 {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-900);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.shop-container22 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.shop-text71 {
  font-size: 48px;
  align-self: center;
  text-align: left;
  font-family: "Inter";
}
.shop-container23 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.shop-container24 {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
}
.shop-container25 {
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  background-size: cover;
  justify-content: center;
  background-image: url("/external/s-om-200h.jpeg");
  background-position: center;
}
.shop-text72 {
  color: rgb(255, 255, 255);
  width: auto;
  font-size: 28px;
  font-style: normal;
  font-weight: 900;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  background-color: rgb(0, 0, 0);
}
.shop-text73 {
  font-size: 24px;
  align-self: center;
  text-align: center;
  text-transform: uppercase;
}
.shop-text78 {
  color: #ff0000;
}
.shop-container26 {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
}
.shop-container27 {
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  background-size: cover;
  justify-content: center;
  background-image: url("/external/61988452-1-zoom-200h.png");
  background-position: center;
}
.shop-text80 {
  color: rgb(255, 255, 255);
  width: auto;
  font-size: 28px;
  font-style: normal;
  font-weight: 900;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  background-color: rgb(0, 0, 0);
}
.shop-text81 {
  align-self: center;
  text-align: center;
  text-transform: uppercase;
}
.shop-text82 {
  font-size: 24px;
}
.shop-text83 {
  font-size: 24px;
}
.shop-text84 {
  font-size: 24px;
}
.shop-text85 {
  font-size: 24px;
}
.shop-text86 {
  color: #ff0000;
  font-size: 24px;
}
.shop-separator6 {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: #000000;
  border-style: solid;
  border-width: 3px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.shop-container28 {
  flex: 0 0 auto;
  width: 80%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.shop-text88 {
  font-size: 32px;
  align-self: center;
  text-align: center;
  font-family: "Inter";
}
.shop-separator7 {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: #000000;
  border-style: solid;
  border-width: 3px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.shop-footer {
  width: 100%;
  display: flex;
  max-width: 100%;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #979dac;
}
.shop-container29 {
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.shop-image7 {
  width: 350px;
  height: var(--dl-size-size-xlarge);
  margin-bottom: var(--dl-space-space-twounits);
}
.shop-container30 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.shop-container31 {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.shop-link6 {
  display: contents;
}
.shop-icon16 {
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-medium);
  text-decoration: none;
}
.shop-container32 {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.shop-link7 {
  display: contents;
}
.shop-icon18 {
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-medium);
  text-decoration: none;
}
.shop-container33 {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.shop-link8 {
  display: contents;
}
.shop-icon20 {
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-medium);
  text-decoration: none;
}
.shop-separator8 {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-900);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.shop-container34 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
@media(max-width: 1200px) {
  .shop-navbar-interactive {
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
    background-color: #002855;
  }
  .shop-image {
    width: 95px;
    height: 95px;
  }
  .shop-navlink {
    color: #ffffff;
  }
  .shop-navlink1 {
    color: #ffffff;
  }
  .shop-navlink2 {
    color: #ffffff;
  }
  .shop-navlink3 {
    color: #ffffff;
  }
  .shop-icon-group {
    width: var(--dl-size-size-xlarge);
  }
  .shop-icon {
    fill: #ffffff;
    width: 30px;
    height: 30px;
  }
  .shop-icon02 {
    fill: #ffffff;
    width: 30px;
    height: 30px;
  }
  .shop-icon04 {
    fill: #ffffff;
    width: 30px;
  }
  .shop-banner {
    background-size: cover;
    background-image: url("/external/lianhao-qu-lfan1gswv5c-unsplash-1500w.jpg");
  }
  .shop-text {
    width: 1200px;
    margin-right: 0px;
  }
  .shop-container01 {
    width: 80%;
  }
  .shop-text04 {
    font-size: 28px;
    text-align: center;
    font-family: Inter;
  }
  .shop-text05 {
    font-size: 48px;
    font-family: Inter;
  }
  .shop-text20 {
    font-size: 48px;
    font-family: Inter;
  }
  .shop-text56 {
    font-size: 48px;
    font-family: Inter;
  }
  .shop-text64 {
    text-transform: uppercase;
  }
  .shop-text65 {
    color: #000000;
    font-size: 24px;
  }
  .shop-text66 {
    font-size: 24px;
  }
  .shop-text67 {
    color: var(--dl-color-gray-black);
    font-size: 24px;
  }
  .shop-text68 {
    font-size: 24px;
  }
  .shop-text69 {
    color: #ff0000;
    font-size: 24px;
  }
  .shop-text71 {
    font-size: 48px;
    font-family: Inter;
  }
  .shop-container28 {
    width: 80%;
  }
  .shop-text88 {
    font-size: 28px;
    text-align: center;
    font-family: Inter;
  }
  .shop-footer {
    background-color: #979DAC;
  }
}
@media(max-width: 991px) {
  .shop-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .shop-image {
    width: 85px;
    height: 85px;
  }
  .shop-navlink {
    color: #ffffff;
    font-family: Inter;
  }
  .shop-navlink1 {
    color: #ffffff;
  }
  .shop-navlink2 {
    color: #ffffff;
  }
  .shop-navlink3 {
    color: #ffffff;
  }
  .shop-icon-group {
    width: var(--dl-size-size-large);
  }
  .shop-icon {
    fill: #ffffff;
    width: 25px;
    height: 25px;
  }
  .shop-icon02 {
    fill: #ffffff;
    width: 25px;
    height: 25px;
  }
  .shop-icon04 {
    fill: #ffffff;
    width: 25px;
    height: 25px;
  }
  .shop-banner {
    background-size: cover;
    background-image: url("/external/lianhao-qu-lfan1gswv5c-unsplash-1500w.jpg");
  }
  .shop-text {
    width: auto;
  }
  .shop-container01 {
    width: 80%;
  }
  .shop-text04 {
    font-size: 24px;
    text-align: center;
    font-family: Inter;
  }
  .shop-text05 {
    font-size: 48px;
    font-family: Inter;
  }
  .shop-text20 {
    font-size: 48px;
    font-family: Inter;
  }
  .shop-text21 {
    text-transform: uppercase;
  }
  .shop-text22 {
    font-size: 24px;
  }
  .shop-text23 {
    font-size: 24px;
  }
  .shop-text24 {
    font-size: 24px;
  }
  .shop-text25 {
    font-size: 24px;
  }
  .shop-text26 {
    color: #ff0000;
    font-size: 24px;
  }
  .shop-text29 {
    font-size: 24px;
    text-transform: uppercase;
  }
  .shop-text30 {
    color: var(--dl-color-gray-black);
    font-size: 24px;
  }
  .shop-text31 {
    color: var(--dl-color-gray-black);
    font-size: 24px;
  }
  .shop-text32 {
    color: var(--dl-color-gray-black);
    font-size: 24px;
  }
  .shop-text33 {
    color: var(--dl-color-gray-black);
    font-size: 24px;
  }
  .shop-text34 {
    color: #ff0000;
    font-size: 24px;
  }
  .shop-text37 {
    text-transform: uppercase;
  }
  .shop-text38 {
    font-size: 24px;
  }
  .shop-text39 {
    font-size: 24px;
  }
  .shop-text40 {
    font-size: 24px;
  }
  .shop-text41 {
    font-size: 24px;
  }
  .shop-text42 {
    font-size: 24px;
  }
  .shop-text43 {
    font-size: 24px;
  }
  .shop-text44 {
    color: #ff0000;
    font-size: 24px;
  }
  .shop-text47 {
    text-transform: uppercase;
  }
  .shop-text48 {
    color: #000000;
  }
  .shop-text49 {
    color: #000000;
  }
  .shop-text50 {
    color: #000000;
  }
  .shop-text51 {
    color: #000000;
  }
  .shop-text52 {
    color: #000000;
  }
  .shop-text53 {
    color: #ff0000;
  }
  .shop-text54 {
    color: #ff0000;
  }
  .shop-text56 {
    font-size: 48px;
    font-family: Inter;
  }
  .shop-text57 {
    font-size: 24px;
    text-transform: uppercase;
  }
  .shop-text62 {
    color: #ff0000;
  }
  .shop-text64 {
    text-transform: uppercase;
  }
  .shop-text65 {
    color: #000000;
    font-size: 24px;
  }
  .shop-text66 {
    color: #000000;
    font-size: 24px;
  }
  .shop-text67 {
    color: #000000;
    font-size: 24px;
  }
  .shop-text68 {
    color: var(--dl-color-gray-black);
    font-size: 24px;
  }
  .shop-text69 {
    color: #ff0000;
    font-size: 24px;
  }
  .shop-text71 {
    font-size: 48px;
    font-family: Inter;
  }
  .shop-text73 {
    font-size: 24px;
    text-transform: uppercase;
  }
  .shop-text78 {
    color: #ff0000;
  }
  .shop-text81 {
    font-size: 24px;
    text-transform: uppercase;
  }
  .shop-text86 {
    color: #ff0000;
  }
  .shop-container28 {
    width: 80%;
  }
  .shop-text88 {
    font-size: 24px;
    text-align: center;
    font-family: Inter;
  }
  .shop-footer {
    background-color: #979DAC;
  }
}
@media(max-width: 767px) {
  .shop-navbar-interactive {
    padding: var(--dl-space-space-oneandhalfunits);
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    background-color: #002855;
  }
  .shop-image {
    width: 75px;
    height: 75px;
  }
  .shop-desktop-menu {
    display: none;
  }
  .shop-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .shop-icon06 {
    fill: #ffffff;
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
  }
  .shop-mobile-menu {
    padding-top: 32px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 72px;
    background-color: #002855;
  }
  .shop-image1 {
    width: 75px;
    height: 75px;
  }
  .shop-icon08 {
    fill: #ffffff;
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
  }
  .shop-navlink4 {
    color: #ffffff;
    font-size: 26px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .shop-navlink5 {
    color: #ffffff;
    font-size: 26px;
    margin-left: 0;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .shop-navlink6 {
    color: #ffffff;
    font-size: 26px;
    margin-left: 0;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .shop-navlink7 {
    color: #ffffff;
    font-size: 26px;
    margin-left: 0;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .shop-icon-group1 {
    align-self: center;
  }
  .shop-icon10 {
    fill: #ffffff;
    width: 45px;
    height: 45px;
    margin-right: var(--dl-space-space-twounits);
  }
  .shop-icon12 {
    fill: #ffffff;
    width: 45px;
    height: 45px;
  }
  .shop-icon14 {
    fill: #ffffff;
    width: 45px;
    height: 45px;
  }
  .shop-banner {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    background-size: cover;
    background-image: url("/external/lianhao-qu-lfan1gswv5c-unsplash-1500w.jpg");
  }
  .shop-text {
    width: auto;
    margin-top: 0px;
  }
  .shop-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .shop-container01 {
    width: 80%;
  }
  .shop-text04 {
    font-size: 20px;
    text-align: center;
    font-family: Inter;
  }
  .shop-separator1 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .shop-text05 {
    font-size: 48px;
    font-family: Inter;
  }
  .shop-separator2 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .shop-text20 {
    font-size: 48px;
    font-family: Inter;
  }
  .shop-text21 {
    text-transform: uppercase;
  }
  .shop-text22 {
    font-size: 24px;
  }
  .shop-text23 {
    font-size: 24px;
  }
  .shop-text24 {
    font-size: 24px;
  }
  .shop-text25 {
    font-size: 24px;
  }
  .shop-text26 {
    color: #ff0000;
    font-size: 24px;
  }
  .shop-text29 {
    text-transform: uppercase;
  }
  .shop-text30 {
    color: inherit;
    font-size: 24px;
  }
  .shop-text31 {
    color: inherit;
    font-size: 24px;
  }
  .shop-text32 {
    color: inherit;
    font-size: 24px;
  }
  .shop-text33 {
    color: inherit;
  }
  .shop-text34 {
    color: #ff0000;
    font-size: 24px;
  }
  .shop-separator3 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .shop-text37 {
    text-transform: uppercase;
  }
  .shop-text38 {
    color: var(--dl-color-gray-black);
    font-size: 24px;
  }
  .shop-text39 {
    color: var(--dl-color-gray-black);
    font-size: 24px;
  }
  .shop-text40 {
    color: var(--dl-color-gray-black);
    font-size: 24px;
  }
  .shop-text41 {
    color: var(--dl-color-gray-black);
    font-size: 24px;
  }
  .shop-text42 {
    color: var(--dl-color-gray-black);
    font-size: 24px;
  }
  .shop-text43 {
    color: var(--dl-color-gray-black);
  }
  .shop-text44 {
    color: #ff0000;
    font-size: 24px;
  }
  .shop-text47 {
    text-transform: uppercase;
  }
  .shop-text48 {
    color: #000000;
    font-size: 24px;
  }
  .shop-text49 {
    color: #000000;
    font-size: 24px;
  }
  .shop-text50 {
    color: #000000;
    font-size: 24px;
  }
  .shop-text51 {
    color: #000000;
    font-size: 24px;
  }
  .shop-text52 {
    color: #000000;
    font-size: 24px;
  }
  .shop-text53 {
    color: #ff0000;
    font-size: 24px;
  }
  .shop-text54 {
    color: #ff0000;
    font-size: 24px;
  }
  .shop-separator4 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .shop-text56 {
    font-size: 48px;
    font-family: Inter;
  }
  .shop-text57 {
    text-transform: uppercase;
  }
  .shop-text58 {
    font-size: 24px;
  }
  .shop-text59 {
    font-size: 24px;
  }
  .shop-text60 {
    font-size: 24px;
  }
  .shop-text62 {
    color: #ff0000;
    font-size: 24px;
  }
  .shop-text64 {
    text-transform: uppercase;
  }
  .shop-text65 {
    color: #000000;
    font-size: 24px;
  }
  .shop-text66 {
    color: #000000;
    font-size: 24px;
  }
  .shop-text67 {
    color: #000000;
    font-size: 24px;
  }
  .shop-text68 {
    color: #000000;
  }
  .shop-text69 {
    color: #ff0000;
    font-size: 24px;
  }
  .shop-separator5 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .shop-text71 {
    font-size: 48px;
    font-family: Inter;
  }
  .shop-text73 {
    text-transform: uppercase;
  }
  .shop-text78 {
    color: #ff0000;
    font-size: 24px;
  }
  .shop-text81 {
    text-transform: uppercase;
  }
  .shop-text82 {
    color: #000000;
  }
  .shop-text83 {
    color: #000000;
  }
  .shop-text84 {
    color: #000000;
  }
  .shop-text85 {
    color: #000000;
  }
  .shop-text86 {
    color: #ff0000;
    font-size: 24px;
  }
  .shop-separator6 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .shop-container28 {
    width: 80%;
  }
  .shop-text88 {
    font-size: 20px;
    text-align: center;
    font-family: Inter;
  }
  .shop-separator7 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .shop-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    background-color: #979DAC;
  }
  .shop-image7 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .shop-separator8 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .shop-container34 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .shop-text89 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .shop-navbar-interactive {
    padding: var(--dl-space-space-unit);
    padding-right: 16px;
    background-color: #002855;
  }
  .shop-icon-group {
    display: none;
  }
  .shop-icon06 {
    fill: #ffffff;
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
  }
  .shop-mobile-menu {
    bottom: var(--dl-space-space-unit);
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 60px;
    background-color: #002855;
  }
  .shop-icon08 {
    fill: #ffffff;
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
  }
  .shop-navlink4 {
    color: #ffffff;
    font-size: 26px;
    font-family: Inter;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .shop-navlink5 {
    color: #ffffff;
    font-size: 26px;
    font-family: Inter;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .shop-navlink6 {
    color: rgb(255, 255, 255);
    font-size: 26px;
    font-family: Inter;
    margin-bottom: var(--dl-space-space-twounits);
    text-decoration: none;
  }
  .shop-navlink7 {
    color: rgb(255, 255, 255);
    font-size: 26px;
    font-family: Inter;
    margin-bottom: 0px;
    text-decoration: none;
  }
  .shop-icon-group1 {
    align-self: center;
  }
  .shop-icon10 {
    fill: #ffffff;
    width: 45px;
    height: 45px;
    margin-right: var(--dl-space-space-twounits);
  }
  .shop-icon12 {
    fill: #ffffff;
    width: 45px;
    height: 45px;
    margin-right: var(--dl-space-space-twounits);
    padding-right: 0px;
  }
  .shop-icon14 {
    fill: #ffffff;
    width: 45px;
    height: 45px;
  }
  .shop-banner {
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-threeunits);
    background-size: cover;
    background-image: url("/external/lianhao-qu-lfan1gswv5c-unsplash-1500w.jpg");
  }
  .shop-text {
    color: rgb(255, 255, 255);
    width: auto;
    height: auto;
    font-size: 4rem;
    margin-top: var(--dl-space-space-unit);
    font-family: Prestage Outline;
    font-weight: 900;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    text-transform: uppercase;
  }
  .shop-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .shop-container01 {
    width: 80%;
    justify-content: center;
  }
  .shop-text04 {
    font-size: 16px;
    align-self: flex-start;
    font-style: normal;
    text-align: center;
    font-family: Inter;
    font-weight: 800;
    text-transform: uppercase;
  }
  .shop-separator1 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .shop-container02 {
    justify-content: center;
  }
  .shop-text05 {
    font-size: 48px;
    align-self: flex-start;
    text-align: center;
    font-family: Inter;
  }
  .shop-image2 {
    width: var(--dl-size-size-large);
  }
  .shop-text06 {
    width: var(--dl-size-size-large);
  }
  .shop-image3 {
    width: var(--dl-size-size-large);
  }
  .shop-text13 {
    width: var(--dl-size-size-large);
  }
  .shop-separator2 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .shop-text20 {
    font-size: 48px;
    align-self: flex-start;
    text-align: center;
    font-family: Inter;
    text-transform: uppercase;
  }
  .shop-image4 {
    width: var(--dl-size-size-large);
    height: 200px;
  }
  .shop-text21 {
    width: var(--dl-size-size-large);
    text-transform: uppercase;
  }
  .shop-text22 {
    font-size: 20px;
  }
  .shop-text23 {
    font-size: 20px;
  }
  .shop-text24 {
    font-size: 20px;
  }
  .shop-text25 {
    color: #ff0000;
    font-size: 24px;
  }
  .shop-text26 {
    color: #ff0000;
    font-size: 24px;
  }
  .shop-container11 {
    width: var(--dl-size-size-large);
  }
  .shop-text28 {
    text-align: center;
  }
  .shop-text29 {
    width: var(--dl-size-size-large);
    text-transform: uppercase;
  }
  .shop-text30 {
    color: #000000;
    font-size: 20px;
  }
  .shop-text31 {
    color: #000000;
    font-size: 20px;
  }
  .shop-text32 {
    color: #000000;
    font-size: 20px;
  }
  .shop-text33 {
    color: #000000;
    font-size: 24px;
  }
  .shop-text34 {
    color: #ff0000;
    font-size: 24px;
  }
  .shop-container12 {
    height: var(--dl-size-size-small);
  }
  .shop-separator3 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .shop-container15 {
    width: var(--dl-size-size-large);
  }
  .shop-text36 {
    color: rgb(255, 255, 255);
    font-size: 28px;
    font-style: normal;
    text-align: center;
    font-weight: 900;
    background-color: rgb(0, 0, 0);
  }
  .shop-text37 {
    width: var(--dl-size-size-large);
    font-size: 24px;
    text-transform: uppercase;
  }
  .shop-text38 {
    color: var(--dl-color-gray-black);
    font-size: 24px;
  }
  .shop-text39 {
    color: var(--dl-color-gray-black);
    font-size: 24px;
  }
  .shop-text40 {
    color: var(--dl-color-gray-black);
    font-size: 24px;
  }
  .shop-text41 {
    color: var(--dl-color-gray-black);
    font-size: 24px;
  }
  .shop-text42 {
    color: var(--dl-color-gray-black);
    font-size: 24px;
  }
  .shop-text43 {
    color: var(--dl-color-gray-black);
  }
  .shop-text44 {
    color: #ff0000;
    font-size: 24px;
  }
  .shop-container17 {
    width: var(--dl-size-size-large);
  }
  .shop-text46 {
    color: rgb(255, 255, 255);
    font-size: 28px;
    font-style: normal;
    text-align: center;
    font-weight: 900;
    background-color: rgb(0, 0, 0);
  }
  .shop-text47 {
    width: var(--dl-size-size-large);
    font-size: 24px;
    text-transform: uppercase;
  }
  .shop-text48 {
    color: #000000;
    font-size: 24px;
  }
  .shop-text49 {
    color: #000000;
    font-size: 24px;
  }
  .shop-text50 {
    color: #000000;
    font-size: 24px;
  }
  .shop-text51 {
    color: #000000;
    font-size: 24px;
  }
  .shop-text52 {
    color: #000000;
    font-size: 24px;
  }
  .shop-text53 {
    color: #ff0000;
    font-size: 24px;
  }
  .shop-text54 {
    color: #ff0000;
    font-size: 24px;
  }
  .shop-separator4 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .shop-text56 {
    font-size: 48px;
    align-self: flex-start;
    text-align: center;
    font-family: Inter;
    text-transform: uppercase;
  }
  .shop-image5 {
    width: var(--dl-size-size-large);
  }
  .shop-text57 {
    width: var(--dl-size-size-large);
    text-transform: uppercase;
  }
  .shop-text58 {
    font-size: 20px;
  }
  .shop-text59 {
    font-size: 20px;
  }
  .shop-text60 {
    font-size: 20px;
  }
  .shop-text61 {
    color: #ff0000;
    font-size: 24px;
  }
  .shop-text62 {
    color: #ff0000;
    font-size: 24px;
  }
  .shop-image6 {
    width: var(--dl-size-size-large);
  }
  .shop-text64 {
    width: var(--dl-size-size-large);
    text-transform: uppercase;
  }
  .shop-text65 {
    color: #000000;
    font-size: 20px;
  }
  .shop-text66 {
    color: #000000;
    font-size: 20px;
  }
  .shop-text67 {
    color: #000000;
    font-size: 20px;
  }
  .shop-text68 {
    color: #000000;
    font-size: 24px;
  }
  .shop-text69 {
    color: #ff0000;
    font-size: 24px;
  }
  .shop-separator5 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .shop-text71 {
    font-size: 48px;
    align-self: flex-start;
    text-align: center;
    font-family: Inter;
    text-transform: uppercase;
  }
  .shop-container25 {
    width: var(--dl-size-size-large);
  }
  .shop-text72 {
    text-align: center;
  }
  .shop-text73 {
    width: var(--dl-size-size-large);
    font-size: 24px;
    text-transform: uppercase;
  }
  .shop-text74 {
    color: #000000;
    font-size: 24px;
  }
  .shop-text75 {
    color: #000000;
    font-size: 24px;
  }
  .shop-text76 {
    color: #000000;
    font-size: 24px;
  }
  .shop-text77 {
    color: #ff0000;
    font-size: 24px;
  }
  .shop-text78 {
    color: #ff0000;
    font-size: 24px;
  }
  .shop-container27 {
    width: var(--dl-size-size-large);
  }
  .shop-text80 {
    text-align: center;
  }
  .shop-text81 {
    width: var(--dl-size-size-large);
    text-transform: uppercase;
  }
  .shop-text82 {
    color: #000000;
    font-size: 24px;
  }
  .shop-text83 {
    color: #000000;
    font-size: 24px;
  }
  .shop-text84 {
    color: #000000;
    font-size: 24px;
  }
  .shop-text85 {
    color: #000000;
    font-size: 24px;
  }
  .shop-text86 {
    color: #ff0000;
    font-size: 24px;
  }
  .shop-separator6 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .shop-container28 {
    width: 80%;
  }
  .shop-text88 {
    font-size: 16px;
    font-style: normal;
    text-align: center;
    font-family: Inter;
    font-weight: 800;
    text-transform: uppercase;
  }
  .shop-separator7 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .shop-footer {
    padding: var(--dl-space-space-unit);
  }
  .shop-container31 {
    width: auto;
  }
  .shop-icon16 {
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
    margin-right: var(--dl-space-space-twounits);
  }
  .shop-container32 {
    width: auto;
  }
  .shop-icon18 {
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
    margin-right: var(--dl-space-space-twounits);
  }
  .shop-container33 {
    width: auto;
  }
  .shop-icon20 {
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
  }
  .shop-separator8 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .shop-container34 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .shop-text89 {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
