.shop-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.shop-navbar-interactive {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  justify-content: space-between;
  background-color: #002855;
}
.shop-image {
  width: 95px;
  height: 95px;
  object-fit: cover;
}
.shop-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.shop-links {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.shop-navlink {
  color: #ffffff;
  text-decoration: none;
}
.shop-navlink1 {
  color: #ffffff;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.shop-navlink2 {
  color: #ffffff;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.shop-navlink3 {
  color: #ffffff;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.shop-icon-group {
  width: var(--dl-size-size-xlarge);
}
.shop-icon {
  fill: #ffffff;
  width: 30px;
  height: 30px;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.shop-icon02 {
  fill: #ffffff;
  width: 30px;
  height: 30px;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.shop-icon04 {
  fill: #ffffff;
  width: 30px;
  height: 30px;
  text-decoration: none;
}
.shop-burger-menu {
  display: none;
}
.shop-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.shop-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: absolute;
  transform: translateY(-100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.shop-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.shop-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.shop-image1 {
  width: 60px;
  height: 60px;
  object-fit: cover;
}
.shop-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.shop-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.shop-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.shop-navlink4 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.shop-navlink5 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.shop-navlink6 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.shop-navlink7 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.shop-icon10 {
  width: 24px;
  height: 24px;
  text-decoration: none;
}
.shop-icon12 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.shop-icon14 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  text-decoration: none;
}
.shop-banner {
  width: 100%;
  height: 491px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  background-size: cover;
  justify-content: space-between;
  background-image: url("/external/lianhao-qu-lfan1gswv5c-unsplash-1500w.jpg");
  background-position: center;
}
.shop-text {
  color: #ffffff;
  width: auto;
  font-size: 5rem;
  margin-top: 105px;
  text-align: center;
  font-family: "Prestage Outline";
  font-weight: 900;
  margin-bottom: var(--dl-space-space-unit);
  text-transform: uppercase;
}
.shop-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: #000000;
  border-style: solid;
  border-width: 3px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.shop-container01 {
  flex: 0 0 auto;
  width: 80%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.shop-text004 {
  font-size: 32px;
  align-self: center;
  text-align: center;
  font-family: "Inter";
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.shop-separator01 {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: #000000;
  border-style: solid;
  border-width: 3px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.shop-container02 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.shop-text005 {
  font-size: 48px;
  align-self: center;
  text-align: left;
  font-family: "Inter";
}
.shop-container03 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.shop-container04 {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
}
.shop-image2 {
  width: 200px;
  object-fit: cover;
}
.shop-text006 {
  font-size: 24px;
  align-self: center;
  text-align: center;
  text-transform: uppercase;
}
.shop-text011 {
  color: #ff0000;
}
.shop-container05 {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
}
.shop-image3 {
  width: 200px;
  object-fit: cover;
}
.shop-text013 {
  font-size: 24px;
  align-self: center;
  text-align: center;
  text-transform: uppercase;
}
.shop-text014 {
  text-transform: uppercase;
}
.shop-text015 {
  text-transform: uppercase;
}
.shop-text016 {
  text-transform: uppercase;
}
.shop-text018 {
  color: #ff0000;
}
.shop-container06 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: outset;
  justify-content: center;
}
.shop-separator02 {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-900);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.shop-container07 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.shop-text020 {
  font-size: 48px;
  align-self: center;
  text-align: left;
  font-family: "Inter";
}
.shop-container08 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.shop-container09 {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
}
.shop-image4 {
  width: 200px;
  object-fit: cover;
}
.shop-text021 {
  font-size: 24px;
  align-self: center;
  text-align: center;
  text-transform: uppercase;
}
.shop-text026 {
  color: #ff0000;
}
.shop-container10 {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
}
.shop-container11 {
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  background-size: cover;
  justify-content: center;
  background-image: url("/external/barracuda-2tb-dm008-hero-left-270x270-200h.png");
  background-position: center;
}
.shop-text028 {
  color: rgb(255, 255, 255);
  width: auto;
  font-size: 28px;
  font-style: normal;
  font-weight: 900;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  background-color: rgb(0, 0, 0);
}
.shop-text029 {
  font-size: 24px;
  align-self: center;
  text-align: center;
  text-transform: uppercase;
}
.shop-text030 {
  color: #000000;
}
.shop-text032 {
  color: #000000;
}
.shop-text034 {
  color: #ff0000;
}
.shop-container12 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: outset;
  justify-content: center;
}
.shop-separator03 {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-900);
  border-style: solid;
  border-width: 0px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.shop-container13 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.shop-container14 {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
}
.shop-container15 {
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  background-size: cover;
  justify-content: flex-end;
  background-image: url("/external/seagate-barracuda-2tb-7200rpm-3.5-sata-6gbs-64-mb-cache-st2000dm006-324x324-200h.png");
  background-position: center;
}
.shop-text036 {
  color: #ffffff;
  width: auto;
  font-size: 28px;
  font-style: normal;
  font-weight: 900;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  background-color: rgb(0, 0, 0);
}
.shop-text037 {
  font-size: 24px;
  align-self: center;
  text-align: center;
  text-transform: uppercase;
}
.shop-text044 {
  color: #ff0000;
}
.shop-container16 {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
}
.shop-container17 {
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  background-size: cover;
  justify-content: center;
  background-image: url("/external/40650_4917_wd-4tb-200h.png");
  background-position: center;
}
.shop-text046 {
  color: rgb(255, 255, 255);
  width: auto;
  font-size: 28px;
  font-style: normal;
  font-weight: 900;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  background-color: rgb(0, 0, 0);
}
.shop-text047 {
  font-size: 24px;
  align-self: center;
  text-align: center;
  text-transform: uppercase;
}
.shop-text052 {
  color: #000000;
}
.shop-text054 {
  color: #ff0000;
}
.shop-separator04 {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-900);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.shop-container18 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.shop-text056 {
  font-size: 48px;
  align-self: center;
  text-align: left;
  font-family: "Inter";
}
.shop-container19 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.shop-container20 {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
}
.shop-image5 {
  width: 200px;
  object-fit: cover;
}
.shop-text057 {
  font-size: 24px;
  align-self: center;
  text-align: center;
  text-transform: uppercase;
}
.shop-text062 {
  color: #ff0000;
}
.shop-container21 {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
}
.shop-image6 {
  width: 200px;
  object-fit: cover;
}
.shop-text064 {
  font-size: 24px;
  align-self: center;
  text-align: center;
  text-transform: uppercase;
}
.shop-text065 {
  color: var(--dl-color-gray-black);
}
.shop-text067 {
  color: var(--dl-color-gray-black);
}
.shop-text069 {
  color: #ff0000;
}
.shop-separator05 {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-900);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.shop-container22 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.shop-text070 {
  font-size: 48px;
  align-self: center;
  text-align: left;
  font-family: "Inter";
}
.shop-container23 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.shop-container24 {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
}
.shop-container25 {
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  background-size: cover;
  justify-content: center;
  background-image: url("/external/s-om-200h.jpeg");
  background-position: center;
}
.shop-text071 {
  color: rgb(255, 255, 255);
  width: auto;
  display: none;
  font-size: 28px;
  font-style: normal;
  font-weight: 900;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  background-color: rgb(0, 0, 0);
}
.shop-text072 {
  font-size: 24px;
  align-self: center;
  text-align: center;
  text-transform: uppercase;
}
.shop-text077 {
  color: #ff0000;
}
.shop-container26 {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
}
.shop-container27 {
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  background-size: cover;
  justify-content: center;
  background-image: url("/external/61988452-1-zoom-200h.png");
  background-position: center;
}
.shop-text079 {
  color: rgb(255, 255, 255);
  width: auto;
  display: none;
  font-size: 28px;
  font-style: normal;
  font-weight: 900;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  background-color: rgb(0, 0, 0);
}
.shop-text080 {
  align-self: center;
  text-align: center;
  text-transform: uppercase;
}
.shop-text081 {
  font-size: 24px;
}
.shop-text082 {
  font-size: 24px;
}
.shop-text083 {
  font-size: 24px;
}
.shop-text084 {
  font-size: 24px;
}
.shop-text085 {
  color: #ff0000;
  font-size: 24px;
}
.shop-separator06 {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-900);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.shop-container28 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.shop-text087 {
  font-size: 48px;
  align-self: center;
  text-align: left;
  font-family: "Inter";
}
.shop-container29 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.shop-container30 {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
}
.shop-container31 {
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  background-size: cover;
  justify-content: center;
  background-image: url("/external/me-1000-vu-200h.png");
  background-position: center;
}
.shop-text088 {
  color: rgb(255, 255, 255);
  width: auto;
  display: none;
  font-size: 28px;
  font-style: normal;
  font-weight: 900;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  background-color: rgb(0, 0, 0);
}
.shop-text089 {
  font-size: 24px;
  align-self: center;
  text-align: center;
  text-transform: uppercase;
}
.shop-text096 {
  color: #ff0000;
}
.shop-container32 {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
}
.shop-container33 {
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  background-size: cover;
  justify-content: center;
  background-image: url("/external/me-2000-vu-200h.png");
  background-position: center;
}
.shop-text098 {
  color: rgb(255, 255, 255);
  width: auto;
  display: none;
  font-size: 28px;
  font-style: normal;
  font-weight: 900;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  background-color: rgb(0, 0, 0);
}
.shop-text099 {
  align-self: center;
  text-align: center;
  text-transform: uppercase;
}
.shop-text100 {
  font-size: 24px;
}
.shop-text102 {
  font-size: 24px;
}
.shop-text104 {
  font-size: 24px;
}
.shop-text106 {
  color: #ff0000;
  font-size: 24px;
}
.shop-separator07 {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-900);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.shop-container34 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.shop-text108 {
  font-size: 48px;
  align-self: center;
  text-align: left;
  font-family: "Inter";
}
.shop-container35 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.shop-container36 {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
}
.shop-container37 {
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  background-size: cover;
  justify-content: center;
  background-image: url("/external/tvm-2402-200h.png");
  background-position: center;
}
.shop-text109 {
  color: rgb(255, 255, 255);
  width: auto;
  display: none;
  font-size: 28px;
  font-style: normal;
  font-weight: 900;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  background-color: rgb(0, 0, 0);
}
.shop-text110 {
  font-size: 24px;
  align-self: center;
  text-align: center;
  text-transform: uppercase;
}
.shop-text113 {
  color: #ff0000;
}
.shop-container38 {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
}
.shop-container39 {
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  background-size: cover;
  justify-content: center;
  background-image: url("/external/tvm-2402-200h.png");
  background-position: center;
}
.shop-text115 {
  color: rgb(255, 255, 255);
  width: auto;
  display: none;
  font-size: 28px;
  font-style: normal;
  font-weight: 900;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  background-color: rgb(0, 0, 0);
}
.shop-text116 {
  align-self: center;
  text-align: center;
  text-transform: uppercase;
}
.shop-text117 {
  font-size: 24px;
}
.shop-text119 {
  color: #ff0000;
  font-size: 24px;
}
.shop-container40 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.shop-container41 {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
}
.shop-container42 {
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  background-size: cover;
  justify-content: center;
  background-image: url("/external/tvm-2402-200h.png");
  background-position: center;
}
.shop-text121 {
  color: rgb(255, 255, 255);
  width: auto;
  display: none;
  font-size: 28px;
  font-style: normal;
  font-weight: 900;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  background-color: rgb(0, 0, 0);
}
.shop-text122 {
  font-size: 24px;
  align-self: center;
  text-align: center;
  text-transform: uppercase;
}
.shop-text125 {
  color: #ff0000;
}
.shop-separator08 {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: #000000;
  border-style: solid;
  border-width: 3px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.shop-container43 {
  flex: 0 0 auto;
  width: 80%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.shop-text126 {
  font-size: 32px;
  align-self: center;
  text-align: center;
  font-family: "Inter";
}
.shop-separator09 {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: #000000;
  border-style: solid;
  border-width: 3px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.shop-footer {
  width: 100%;
  display: flex;
  max-width: 100%;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #979dac;
}
.shop-container44 {
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.shop-image7 {
  width: 350px;
  height: var(--dl-size-size-xlarge);
  margin-bottom: var(--dl-space-space-twounits);
}
.shop-container45 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.shop-container46 {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.shop-link6 {
  display: contents;
}
.shop-icon16 {
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-medium);
  text-decoration: none;
}
.shop-container47 {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.shop-link7 {
  display: contents;
}
.shop-icon18 {
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-medium);
  text-decoration: none;
}
.shop-container48 {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.shop-link8 {
  display: contents;
}
.shop-icon20 {
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-medium);
  text-decoration: none;
}
.shop-separator10 {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-900);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.shop-container49 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
@media(max-width: 1200px) {
  .shop-navbar-interactive {
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
    background-color: #002855;
  }
  .shop-image {
    width: 95px;
    height: 95px;
  }
  .shop-navlink {
    color: #ffffff;
  }
  .shop-navlink1 {
    color: #ffffff;
  }
  .shop-navlink2 {
    color: #ffffff;
  }
  .shop-navlink3 {
    color: #ffffff;
  }
  .shop-icon-group {
    width: var(--dl-size-size-xlarge);
  }
  .shop-icon {
    fill: #ffffff;
    width: 30px;
    height: 30px;
  }
  .shop-icon02 {
    fill: #ffffff;
    width: 30px;
    height: 30px;
  }
  .shop-icon04 {
    fill: #ffffff;
    width: 30px;
  }
  .shop-banner {
    background-size: cover;
    background-image: url("/external/lianhao-qu-lfan1gswv5c-unsplash-1500w.jpg");
  }
  .shop-text {
    width: 1200px;
    margin-right: 0px;
  }
  .shop-container01 {
    width: 80%;
  }
  .shop-text004 {
    font-size: 28px;
    text-align: center;
    font-family: Inter;
  }
  .shop-text005 {
    font-size: 48px;
    font-family: Inter;
  }
  .shop-text020 {
    font-size: 48px;
    font-family: Inter;
  }
  .shop-container17 {
    background-size: cover;
    background-image: url("/external/40650_4917_wd-4tb-200h.png");
  }
  .shop-text056 {
    font-size: 48px;
    font-family: Inter;
  }
  .shop-text064 {
    text-transform: uppercase;
  }
  .shop-text065 {
    color: var(--dl-color-gray-black);
    font-size: 24px;
  }
  .shop-text066 {
    color: var(--dl-color-gray-black);
    font-size: 24px;
  }
  .shop-text067 {
    color: var(--dl-color-gray-black);
    font-size: 24px;
  }
  .shop-text068 {
    font-size: 24px;
  }
  .shop-text069 {
    color: #ff0000;
    font-size: 24px;
  }
  .shop-text070 {
    font-size: 48px;
    font-family: Inter;
  }
  .shop-text071 {
    display: none;
  }
  .shop-text079 {
    display: none;
  }
  .shop-text087 {
    font-size: 48px;
    font-family: Inter;
  }
  .shop-container31 {
    background-size: cover;
    background-image: url("/external/me-1000-vu-200h.png");
  }
  .shop-text088 {
    display: none;
  }
  .shop-container33 {
    background-size: cover;
    background-image: url("/external/me-2000-vu-200h.png");
  }
  .shop-text098 {
    display: none;
  }
  .shop-text108 {
    font-size: 48px;
    font-family: Inter;
  }
  .shop-container37 {
    background-size: cover;
    background-image: url("/external/tvm-2402-200h.png");
  }
  .shop-text109 {
    display: none;
  }
  .shop-container39 {
    background-size: cover;
    background-image: url("/external/tvm-2402-200h.png");
  }
  .shop-text115 {
    display: none;
  }
  .shop-container42 {
    background-size: cover;
    background-image: url("/external/tvm-2402-200h.png");
  }
  .shop-text121 {
    display: none;
  }
  .shop-container43 {
    width: 80%;
  }
  .shop-text126 {
    font-size: 28px;
    text-align: center;
    font-family: Inter;
  }
  .shop-footer {
    background-color: #979DAC;
  }
}
@media(max-width: 991px) {
  .shop-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .shop-image {
    width: 85px;
    height: 85px;
  }
  .shop-navlink {
    color: #ffffff;
    font-family: Inter;
  }
  .shop-navlink1 {
    color: #ffffff;
  }
  .shop-navlink2 {
    color: #ffffff;
  }
  .shop-navlink3 {
    color: #ffffff;
  }
  .shop-icon-group {
    width: var(--dl-size-size-large);
  }
  .shop-icon {
    fill: #ffffff;
    width: 25px;
    height: 25px;
  }
  .shop-icon02 {
    fill: #ffffff;
    width: 25px;
    height: 25px;
  }
  .shop-icon04 {
    fill: #ffffff;
    width: 25px;
    height: 25px;
  }
  .shop-banner {
    background-size: cover;
    background-image: url("/external/lianhao-qu-lfan1gswv5c-unsplash-1500w.jpg");
  }
  .shop-text {
    width: auto;
  }
  .shop-container01 {
    width: 80%;
  }
  .shop-text004 {
    font-size: 24px;
    text-align: center;
    font-family: Inter;
  }
  .shop-text005 {
    font-size: 48px;
    font-family: Inter;
  }
  .shop-text020 {
    font-size: 48px;
    font-family: Inter;
  }
  .shop-text021 {
    text-transform: uppercase;
  }
  .shop-text022 {
    font-size: 24px;
  }
  .shop-text023 {
    font-size: 24px;
  }
  .shop-text024 {
    font-size: 24px;
  }
  .shop-text025 {
    font-size: 24px;
  }
  .shop-text026 {
    color: #ff0000;
    font-size: 24px;
  }
  .shop-text029 {
    font-size: 24px;
    text-transform: uppercase;
  }
  .shop-text030 {
    color: var(--dl-color-gray-black);
    font-size: 24px;
  }
  .shop-text031 {
    color: var(--dl-color-gray-black);
    font-size: 24px;
  }
  .shop-text032 {
    color: var(--dl-color-gray-black);
    font-size: 24px;
  }
  .shop-text033 {
    color: var(--dl-color-gray-black);
    font-size: 24px;
  }
  .shop-text034 {
    color: #ff0000;
    font-size: 24px;
  }
  .shop-text037 {
    text-transform: uppercase;
  }
  .shop-text038 {
    font-size: 24px;
  }
  .shop-text039 {
    font-size: 24px;
  }
  .shop-text040 {
    font-size: 24px;
  }
  .shop-text041 {
    font-size: 24px;
  }
  .shop-text042 {
    font-size: 24px;
  }
  .shop-text043 {
    font-size: 24px;
  }
  .shop-text044 {
    color: #ff0000;
    font-size: 24px;
  }
  .shop-container17 {
    background-size: cover;
    background-image: url("/external/40650_4917_wd-4tb-200h.png");
  }
  .shop-text047 {
    text-transform: uppercase;
  }
  .shop-text048 {
    color: #000000;
  }
  .shop-text049 {
    color: #000000;
  }
  .shop-text050 {
    color: #000000;
  }
  .shop-text051 {
    color: #000000;
  }
  .shop-text052 {
    color: #000000;
  }
  .shop-text053 {
    color: #ff0000;
  }
  .shop-text054 {
    color: #ff0000;
  }
  .shop-text056 {
    font-size: 48px;
    font-family: Inter;
  }
  .shop-text057 {
    font-size: 24px;
    text-transform: uppercase;
  }
  .shop-text062 {
    color: #ff0000;
  }
  .shop-text064 {
    text-transform: uppercase;
  }
  .shop-text065 {
    color: #000000;
    font-size: 24px;
  }
  .shop-text066 {
    color: #000000;
    font-size: 24px;
  }
  .shop-text067 {
    color: #000000;
    font-size: 24px;
  }
  .shop-text068 {
    color: var(--dl-color-gray-black);
    font-size: 24px;
  }
  .shop-text069 {
    color: #ff0000;
    font-size: 24px;
  }
  .shop-text070 {
    font-size: 48px;
    font-family: Inter;
  }
  .shop-text071 {
    display: none;
  }
  .shop-text072 {
    font-size: 24px;
    text-transform: uppercase;
  }
  .shop-text077 {
    color: #ff0000;
  }
  .shop-text079 {
    display: none;
  }
  .shop-text080 {
    font-size: 24px;
    text-transform: uppercase;
  }
  .shop-text085 {
    color: #ff0000;
  }
  .shop-text087 {
    font-size: 48px;
    font-family: Inter;
  }
  .shop-container31 {
    background-size: cover;
    background-image: url("/external/me-1000-vu-200h.png");
  }
  .shop-text088 {
    display: none;
  }
  .shop-text089 {
    font-size: 24px;
    text-transform: uppercase;
  }
  .shop-text096 {
    color: #ff0000;
  }
  .shop-container33 {
    background-size: cover;
    background-image: url("/external/me-2000-vu-200h.png");
  }
  .shop-text098 {
    display: none;
  }
  .shop-text099 {
    font-size: 24px;
    text-transform: uppercase;
  }
  .shop-text106 {
    color: #ff0000;
  }
  .shop-text108 {
    font-size: 48px;
    font-family: Inter;
  }
  .shop-container37 {
    background-size: cover;
    background-image: url("/external/tvm-2402-200h.png");
  }
  .shop-text109 {
    display: none;
  }
  .shop-text110 {
    font-size: 24px;
    text-transform: uppercase;
  }
  .shop-text113 {
    color: #ff0000;
  }
  .shop-container39 {
    background-size: cover;
    background-image: url("/external/tvm-2402-200h.png");
  }
  .shop-text115 {
    display: none;
  }
  .shop-text116 {
    font-size: 24px;
    text-transform: uppercase;
  }
  .shop-text119 {
    color: #ff0000;
  }
  .shop-container42 {
    background-size: cover;
    background-image: url("/external/tvm-2402-200h.png");
  }
  .shop-text121 {
    display: none;
  }
  .shop-text122 {
    font-size: 24px;
    text-transform: uppercase;
  }
  .shop-text125 {
    color: #ff0000;
  }
  .shop-container43 {
    width: 80%;
  }
  .shop-text126 {
    font-size: 24px;
    text-align: center;
    font-family: Inter;
  }
  .shop-footer {
    background-color: #979DAC;
  }
}
@media(max-width: 767px) {
  .shop-navbar-interactive {
    padding: var(--dl-space-space-oneandhalfunits);
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    background-color: #002855;
  }
  .shop-image {
    width: 75px;
    height: 75px;
  }
  .shop-desktop-menu {
    display: none;
  }
  .shop-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .shop-icon06 {
    fill: #ffffff;
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
  }
  .shop-mobile-menu {
    padding-top: 32px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 72px;
    background-color: #002855;
  }
  .shop-image1 {
    width: 75px;
    height: 75px;
  }
  .shop-icon08 {
    fill: #ffffff;
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
  }
  .shop-navlink4 {
    color: #ffffff;
    font-size: 26px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .shop-navlink5 {
    color: #ffffff;
    font-size: 26px;
    margin-left: 0;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .shop-navlink6 {
    color: #ffffff;
    font-size: 26px;
    margin-left: 0;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .shop-navlink7 {
    color: #ffffff;
    font-size: 26px;
    margin-left: 0;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .shop-icon-group1 {
    align-self: center;
  }
  .shop-icon10 {
    fill: #ffffff;
    width: 45px;
    height: 45px;
    margin-right: var(--dl-space-space-twounits);
  }
  .shop-icon12 {
    fill: #ffffff;
    width: 45px;
    height: 45px;
  }
  .shop-icon14 {
    fill: #ffffff;
    width: 45px;
    height: 45px;
  }
  .shop-banner {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    background-size: cover;
    background-image: url("/external/lianhao-qu-lfan1gswv5c-unsplash-1500w.jpg");
  }
  .shop-text {
    width: auto;
    margin-top: 0px;
  }
  .shop-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .shop-container01 {
    width: 80%;
  }
  .shop-text004 {
    font-size: 20px;
    text-align: center;
    font-family: Inter;
  }
  .shop-separator01 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .shop-text005 {
    font-size: 48px;
    font-family: Inter;
  }
  .shop-separator02 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .shop-text020 {
    font-size: 48px;
    font-family: Inter;
  }
  .shop-text021 {
    text-transform: uppercase;
  }
  .shop-text022 {
    font-size: 24px;
  }
  .shop-text023 {
    font-size: 24px;
  }
  .shop-text024 {
    font-size: 24px;
  }
  .shop-text025 {
    font-size: 24px;
  }
  .shop-text026 {
    color: #ff0000;
    font-size: 24px;
  }
  .shop-text029 {
    text-transform: uppercase;
  }
  .shop-text030 {
    color: inherit;
    font-size: 24px;
  }
  .shop-text031 {
    color: inherit;
    font-size: 24px;
  }
  .shop-text032 {
    color: inherit;
    font-size: 24px;
  }
  .shop-text033 {
    color: inherit;
  }
  .shop-text034 {
    color: #ff0000;
    font-size: 24px;
  }
  .shop-separator03 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .shop-text037 {
    text-transform: uppercase;
  }
  .shop-text038 {
    color: var(--dl-color-gray-black);
    font-size: 24px;
  }
  .shop-text039 {
    color: var(--dl-color-gray-black);
    font-size: 24px;
  }
  .shop-text040 {
    color: var(--dl-color-gray-black);
    font-size: 24px;
  }
  .shop-text041 {
    color: var(--dl-color-gray-black);
    font-size: 24px;
  }
  .shop-text042 {
    color: var(--dl-color-gray-black);
    font-size: 24px;
  }
  .shop-text043 {
    color: var(--dl-color-gray-black);
  }
  .shop-text044 {
    color: #ff0000;
    font-size: 24px;
  }
  .shop-container17 {
    background-size: cover;
    background-image: url("/external/40650_4917_wd-4tb-200h.png");
  }
  .shop-text047 {
    text-transform: uppercase;
  }
  .shop-text048 {
    color: #000000;
    font-size: 24px;
  }
  .shop-text049 {
    color: #000000;
    font-size: 24px;
  }
  .shop-text050 {
    color: #000000;
    font-size: 24px;
  }
  .shop-text051 {
    color: #000000;
    font-size: 24px;
  }
  .shop-text052 {
    color: #000000;
    font-size: 24px;
  }
  .shop-text053 {
    color: #ff0000;
    font-size: 24px;
  }
  .shop-text054 {
    color: #ff0000;
    font-size: 24px;
  }
  .shop-separator04 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .shop-text056 {
    font-size: 48px;
    font-family: Inter;
  }
  .shop-text057 {
    font-size: 24px;
    text-transform: uppercase;
  }
  .shop-text058 {
    font-size: 24px;
  }
  .shop-text059 {
    font-size: 24px;
  }
  .shop-text060 {
    font-size: 24px;
  }
  .shop-text061 {
    color: #ff0000;
    font-size: 24px;
  }
  .shop-text062 {
    color: #ff0000;
    font-size: 24px;
  }
  .shop-text064 {
    font-size: 24px;
    text-transform: uppercase;
  }
  .shop-text065 {
    color: #000000;
    font-size: 24px;
  }
  .shop-text066 {
    color: #000000;
    font-size: 24px;
  }
  .shop-text067 {
    color: #000000;
    font-size: 24px;
  }
  .shop-text068 {
    color: #000000;
  }
  .shop-text069 {
    color: #ff0000;
    font-size: 24px;
  }
  .shop-separator05 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .shop-text070 {
    font-size: 48px;
    font-family: Inter;
  }
  .shop-text071 {
    display: none;
  }
  .shop-text072 {
    text-transform: uppercase;
  }
  .shop-text077 {
    color: #ff0000;
    font-size: 24px;
  }
  .shop-text079 {
    display: none;
  }
  .shop-text080 {
    text-transform: uppercase;
  }
  .shop-text081 {
    color: #000000;
  }
  .shop-text082 {
    color: #000000;
  }
  .shop-text083 {
    color: #000000;
  }
  .shop-text084 {
    color: #000000;
  }
  .shop-text085 {
    color: #ff0000;
    font-size: 24px;
  }
  .shop-separator06 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .shop-text087 {
    font-size: 48px;
    font-family: Inter;
  }
  .shop-container31 {
    background-size: cover;
    background-image: url("/external/me-1000-vu-200h.png");
  }
  .shop-text088 {
    display: none;
  }
  .shop-text089 {
    font-size: 24px;
    text-transform: uppercase;
  }
  .shop-text096 {
    color: #ff0000;
    font-size: 24px;
  }
  .shop-container33 {
    background-size: cover;
    background-image: url("/external/me-2000-vu-200h.png");
  }
  .shop-text098 {
    display: none;
  }
  .shop-text099 {
    text-transform: uppercase;
  }
  .shop-text100 {
    color: #000000;
  }
  .shop-text101 {
    color: #000000;
  }
  .shop-text102 {
    color: #000000;
  }
  .shop-text103 {
    color: #000000;
  }
  .shop-text104 {
    color: #000000;
  }
  .shop-text105 {
    color: #000000;
  }
  .shop-text106 {
    color: #ff0000;
    font-size: 24px;
  }
  .shop-separator07 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .shop-text108 {
    font-size: 48px;
    font-family: Inter;
  }
  .shop-container37 {
    background-size: cover;
    background-image: url("/external/tvm-2402-200h.png");
  }
  .shop-text109 {
    display: none;
  }
  .shop-text110 {
    text-transform: uppercase;
  }
  .shop-text113 {
    color: #ff0000;
    font-size: 24px;
  }
  .shop-container39 {
    background-size: cover;
    background-image: url("/external/tvm-2402-200h.png");
  }
  .shop-text115 {
    display: none;
  }
  .shop-text116 {
    text-transform: uppercase;
  }
  .shop-text117 {
    color: #000000;
  }
  .shop-text118 {
    color: #000000;
  }
  .shop-text119 {
    color: #ff0000;
    font-size: 24px;
  }
  .shop-container42 {
    background-size: cover;
    background-image: url("/external/tvm-2402-200h.png");
  }
  .shop-text121 {
    display: none;
  }
  .shop-text122 {
    text-transform: uppercase;
  }
  .shop-text125 {
    color: #ff0000;
    font-size: 24px;
  }
  .shop-separator08 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .shop-container43 {
    width: 80%;
  }
  .shop-text126 {
    font-size: 20px;
    text-align: center;
    font-family: Inter;
  }
  .shop-separator09 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .shop-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    background-color: #979DAC;
  }
  .shop-image7 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .shop-separator10 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .shop-container49 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .shop-text127 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .shop-navbar-interactive {
    padding: var(--dl-space-space-unit);
    padding-right: 16px;
    background-color: #002855;
  }
  .shop-icon-group {
    display: none;
  }
  .shop-icon06 {
    fill: #ffffff;
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
  }
  .shop-mobile-menu {
    bottom: var(--dl-space-space-unit);
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 60px;
    background-color: #002855;
  }
  .shop-icon08 {
    fill: #ffffff;
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
  }
  .shop-navlink4 {
    color: #ffffff;
    font-size: 26px;
    font-family: Inter;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .shop-navlink5 {
    color: #ffffff;
    font-size: 26px;
    font-family: Inter;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .shop-navlink6 {
    color: rgb(255, 255, 255);
    font-size: 26px;
    font-family: Inter;
    margin-bottom: var(--dl-space-space-twounits);
    text-decoration: none;
  }
  .shop-navlink7 {
    color: rgb(255, 255, 255);
    font-size: 26px;
    font-family: Inter;
    margin-bottom: 0px;
    text-decoration: none;
  }
  .shop-icon-group1 {
    align-self: center;
  }
  .shop-icon10 {
    fill: #ffffff;
    width: 45px;
    height: 45px;
    margin-right: var(--dl-space-space-twounits);
  }
  .shop-icon12 {
    fill: #ffffff;
    width: 45px;
    height: 45px;
    margin-right: var(--dl-space-space-twounits);
    padding-right: 0px;
  }
  .shop-icon14 {
    fill: #ffffff;
    width: 45px;
    height: 45px;
  }
  .shop-banner {
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-threeunits);
    background-size: cover;
    background-image: url("/external/lianhao-qu-lfan1gswv5c-unsplash-1500w.jpg");
  }
  .shop-text {
    color: rgb(255, 255, 255);
    width: auto;
    height: auto;
    font-size: 4rem;
    margin-top: var(--dl-space-space-unit);
    font-family: Prestage Outline;
    font-weight: 900;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    text-transform: uppercase;
  }
  .shop-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .shop-container01 {
    width: 80%;
    justify-content: center;
  }
  .shop-text004 {
    font-size: 16px;
    align-self: flex-start;
    font-style: normal;
    text-align: center;
    font-family: Inter;
    font-weight: 800;
    text-transform: uppercase;
  }
  .shop-separator01 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .shop-container02 {
    justify-content: center;
  }
  .shop-text005 {
    font-size: 48px;
    align-self: flex-start;
    text-align: center;
    font-family: Inter;
  }
  .shop-image2 {
    width: var(--dl-size-size-large);
  }
  .shop-text006 {
    width: var(--dl-size-size-large);
  }
  .shop-image3 {
    width: var(--dl-size-size-large);
  }
  .shop-text013 {
    width: var(--dl-size-size-large);
  }
  .shop-separator02 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .shop-text020 {
    font-size: 48px;
    align-self: flex-start;
    text-align: center;
    font-family: Inter;
    text-transform: uppercase;
  }
  .shop-image4 {
    width: var(--dl-size-size-large);
    height: 200px;
  }
  .shop-text021 {
    width: var(--dl-size-size-large);
    font-size: 24px;
    text-transform: uppercase;
  }
  .shop-text022 {
    font-size: 20px;
  }
  .shop-text023 {
    font-size: 20px;
  }
  .shop-text024 {
    font-size: 20px;
  }
  .shop-text025 {
    color: #ff0000;
    font-size: 24px;
  }
  .shop-text026 {
    color: #ff0000;
    font-size: 24px;
  }
  .shop-container11 {
    width: var(--dl-size-size-large);
  }
  .shop-text028 {
    text-align: center;
  }
  .shop-text029 {
    width: var(--dl-size-size-large);
    font-size: 24px;
    text-transform: uppercase;
  }
  .shop-text030 {
    color: #000000;
    font-size: 20px;
  }
  .shop-text031 {
    color: #000000;
    font-size: 20px;
  }
  .shop-text032 {
    color: #000000;
    font-size: 20px;
  }
  .shop-text033 {
    color: #000000;
    font-size: 24px;
  }
  .shop-text034 {
    color: #ff0000;
    font-size: 24px;
  }
  .shop-container12 {
    height: var(--dl-size-size-small);
  }
  .shop-separator03 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .shop-container15 {
    width: var(--dl-size-size-large);
  }
  .shop-text036 {
    color: rgb(255, 255, 255);
    font-size: 28px;
    font-style: normal;
    text-align: center;
    font-weight: 900;
    background-color: rgb(0, 0, 0);
  }
  .shop-text037 {
    width: var(--dl-size-size-large);
    font-size: 24px;
    text-transform: uppercase;
  }
  .shop-text038 {
    color: var(--dl-color-gray-black);
    font-size: 24px;
  }
  .shop-text039 {
    color: var(--dl-color-gray-black);
    font-size: 24px;
  }
  .shop-text040 {
    color: var(--dl-color-gray-black);
    font-size: 24px;
  }
  .shop-text041 {
    color: var(--dl-color-gray-black);
    font-size: 24px;
  }
  .shop-text042 {
    color: var(--dl-color-gray-black);
    font-size: 24px;
  }
  .shop-text043 {
    color: var(--dl-color-gray-black);
  }
  .shop-text044 {
    color: #ff0000;
    font-size: 24px;
  }
  .shop-container17 {
    width: var(--dl-size-size-large);
    background-size: cover;
    background-image: url("/external/40650_4917_wd-4tb-200h.png");
  }
  .shop-text046 {
    color: rgb(255, 255, 255);
    font-size: 28px;
    font-style: normal;
    text-align: center;
    font-weight: 900;
    background-color: rgb(0, 0, 0);
  }
  .shop-text047 {
    width: var(--dl-size-size-large);
    font-size: 24px;
    text-transform: uppercase;
  }
  .shop-text048 {
    color: #000000;
    font-size: 24px;
  }
  .shop-text049 {
    color: #000000;
    font-size: 24px;
  }
  .shop-text050 {
    color: #000000;
    font-size: 24px;
  }
  .shop-text051 {
    color: #000000;
    font-size: 24px;
  }
  .shop-text052 {
    color: #000000;
    font-size: 24px;
  }
  .shop-text053 {
    color: #ff0000;
    font-size: 24px;
  }
  .shop-text054 {
    color: #ff0000;
    font-size: 24px;
  }
  .shop-separator04 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .shop-text056 {
    font-size: 48px;
    align-self: flex-start;
    text-align: center;
    font-family: Inter;
    text-transform: uppercase;
  }
  .shop-image5 {
    width: var(--dl-size-size-large);
  }
  .shop-text057 {
    width: var(--dl-size-size-large);
    font-size: 24px;
    text-transform: uppercase;
  }
  .shop-text058 {
    font-size: 20px;
  }
  .shop-text059 {
    font-size: 20px;
  }
  .shop-text060 {
    font-size: 20px;
  }
  .shop-text061 {
    color: #ff0000;
    font-size: 24px;
  }
  .shop-text062 {
    color: #ff0000;
    font-size: 24px;
  }
  .shop-image6 {
    width: var(--dl-size-size-large);
  }
  .shop-text064 {
    width: var(--dl-size-size-large);
    font-size: 24px;
    text-transform: uppercase;
  }
  .shop-text065 {
    color: #000000;
    font-size: 20px;
  }
  .shop-text066 {
    color: #000000;
    font-size: 20px;
  }
  .shop-text067 {
    color: #000000;
    font-size: 20px;
  }
  .shop-text068 {
    color: #000000;
    font-size: 24px;
  }
  .shop-text069 {
    color: #ff0000;
    font-size: 24px;
  }
  .shop-separator05 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .shop-text070 {
    font-size: 48px;
    align-self: flex-start;
    text-align: center;
    font-family: Inter;
    text-transform: uppercase;
  }
  .shop-container25 {
    width: var(--dl-size-size-large);
  }
  .shop-text071 {
    display: none;
    text-align: center;
  }
  .shop-text072 {
    width: var(--dl-size-size-large);
    font-size: 24px;
    text-transform: uppercase;
  }
  .shop-text073 {
    color: #000000;
    font-size: 24px;
  }
  .shop-text074 {
    color: #000000;
    font-size: 24px;
  }
  .shop-text075 {
    color: #000000;
    font-size: 24px;
  }
  .shop-text076 {
    color: #ff0000;
    font-size: 24px;
  }
  .shop-text077 {
    color: #ff0000;
    font-size: 24px;
  }
  .shop-container27 {
    width: var(--dl-size-size-large);
  }
  .shop-text079 {
    display: none;
    text-align: center;
  }
  .shop-text080 {
    width: var(--dl-size-size-large);
    text-transform: uppercase;
  }
  .shop-text081 {
    color: #000000;
    font-size: 24px;
  }
  .shop-text082 {
    color: #000000;
    font-size: 24px;
  }
  .shop-text083 {
    color: #000000;
    font-size: 24px;
  }
  .shop-text084 {
    color: #000000;
    font-size: 24px;
  }
  .shop-text085 {
    color: #ff0000;
    font-size: 24px;
  }
  .shop-separator06 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .shop-text087 {
    font-size: 48px;
    align-self: flex-start;
    text-align: center;
    font-family: Inter;
    text-transform: uppercase;
  }
  .shop-container31 {
    width: var(--dl-size-size-large);
    background-size: contain;
    background-image: url("/external/me-1000-vu-200h.png");
    background-repeat: no-repeat;
  }
  .shop-text088 {
    display: none;
    text-align: center;
  }
  .shop-text089 {
    width: var(--dl-size-size-large);
    font-size: 24px;
    text-transform: uppercase;
  }
  .shop-text090 {
    color: #000000;
    font-size: 24px;
  }
  .shop-text091 {
    color: #000000;
    font-size: 24px;
  }
  .shop-text092 {
    color: #000000;
    font-size: 24px;
  }
  .shop-text093 {
    color: #000000;
    font-size: 24px;
  }
  .shop-text094 {
    color: #000000;
    font-size: 24px;
  }
  .shop-text095 {
    color: #ff0000;
    font-size: 24px;
  }
  .shop-text096 {
    color: #ff0000;
    font-size: 24px;
  }
  .shop-container33 {
    width: var(--dl-size-size-large);
    background-size: contain;
    background-image: url("/external/me-2000-vu-200h.png");
    background-repeat: no-repeat;
  }
  .shop-text098 {
    display: none;
    text-align: center;
  }
  .shop-text099 {
    width: var(--dl-size-size-large);
    text-transform: uppercase;
  }
  .shop-text100 {
    color: #000000;
    font-size: 24px;
  }
  .shop-text101 {
    color: #000000;
    font-size: 24px;
  }
  .shop-text102 {
    color: #000000;
    font-size: 24px;
  }
  .shop-text103 {
    color: #000000;
    font-size: 24px;
  }
  .shop-text104 {
    color: #000000;
    font-size: 24px;
  }
  .shop-text105 {
    color: #000000;
    font-size: 24px;
  }
  .shop-text106 {
    color: #ff0000;
    font-size: 24px;
  }
  .shop-separator07 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .shop-text108 {
    font-size: 48px;
    align-self: flex-start;
    text-align: center;
    font-family: Inter;
    text-transform: uppercase;
  }
  .shop-container37 {
    width: var(--dl-size-size-large);
    background-size: contain;
    background-image: url("/external/tvm-2402-200h.png");
    background-repeat: no-repeat;
  }
  .shop-text109 {
    text-align: center;
  }
  .shop-text110 {
    width: var(--dl-size-size-large);
    font-size: 24px;
    text-transform: uppercase;
  }
  .shop-text111 {
    color: #000000;
    font-size: 24px;
  }
  .shop-text112 {
    color: #ff0000;
    font-size: 24px;
  }
  .shop-text113 {
    color: #ff0000;
    font-size: 24px;
  }
  .shop-container39 {
    width: var(--dl-size-size-large);
    background-size: contain;
    background-image: url("/external/tvm-2402-200h.png");
    background-repeat: no-repeat;
  }
  .shop-text115 {
    text-align: center;
  }
  .shop-text116 {
    width: var(--dl-size-size-large);
    text-transform: uppercase;
  }
  .shop-text117 {
    color: #000000;
    font-size: 24px;
  }
  .shop-text118 {
    color: #000000;
    font-size: 24px;
  }
  .shop-text119 {
    color: #ff0000;
    font-size: 24px;
  }
  .shop-container42 {
    width: var(--dl-size-size-large);
    background-size: contain;
    background-image: url("/external/tvm-2402-200h.png");
    background-repeat: no-repeat;
  }
  .shop-text121 {
    text-align: center;
  }
  .shop-text122 {
    width: var(--dl-size-size-large);
    font-size: 24px;
    text-transform: uppercase;
  }
  .shop-text123 {
    color: #000000;
  }
  .shop-text124 {
    color: #ff0000;
  }
  .shop-text125 {
    color: #ff0000;
  }
  .shop-separator08 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .shop-container43 {
    width: 80%;
  }
  .shop-text126 {
    font-size: 16px;
    font-style: normal;
    text-align: center;
    font-family: Inter;
    font-weight: 800;
    text-transform: uppercase;
  }
  .shop-separator09 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .shop-footer {
    padding: var(--dl-space-space-unit);
  }
  .shop-container46 {
    width: auto;
  }
  .shop-icon16 {
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
    margin-right: var(--dl-space-space-twounits);
  }
  .shop-container47 {
    width: auto;
  }
  .shop-icon18 {
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
    margin-right: var(--dl-space-space-twounits);
  }
  .shop-container48 {
    width: auto;
  }
  .shop-icon20 {
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
  }
  .shop-separator10 {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .shop-container49 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .shop-text127 {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
