.navigation-links12-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links12-text {
  font-family: "Impact";
  text-transform: uppercase;
  text-decoration: none;
}
.navigation-links12-navlink {
  font-family: "Impact";
  margin-left: var(--dl-space-space-twounits);
  text-transform: uppercase;
  text-decoration: none;
}
.navigation-links12-navlink1 {
  font-family: "Impact";
  margin-left: var(--dl-space-space-twounits);
  text-transform: uppercase;
  text-decoration: none;
}
.navigation-links12-navlink2 {
  font-family: "Impact";
  margin-left: var(--dl-space-space-twounits);
  text-transform: uppercase;
  text-decoration: none;
}






























@media(max-width: 767px) {
  .navigation-links12-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links12-text {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links12-navlink {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links12-navlink1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links12-navlink2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}
